﻿@model ZZTIntegration.Web.Models.ArticleLineItem
@{
    var index = ViewData["index"];
}
@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{ 
    <span class="errorText">@Model.ErrorMessage</span>
}    
<div class="control-group">
    <div class="well articleContainer @(Model.IsWrong || Model.IsDataWrong ? "errorLine" : "")" style="padding: 10px 10px 10px 0px; max-width: 395px;">
        @Html.HiddenFor(m => m.Price)
        @Html.HiddenFor(m => Model.Type)
        <div class="control-group">
            @Html.LabelFor(m => m.ArticleNum, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.ArticleNum, new { @class="input-small mask-pint"})
                <a style="float:right;" data-href="@Url.Action("DeleteNewArticle", "Home", new { index = index })" class="customLink submitButton ui-icon ui-icon-closethick"></a>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Qty, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Qty, new { @class="input-small mask-pint"})
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input data-href="@Url.Action("Validate", "Home")" class="submitButton" type="submit" value="Добавить" />
            </div>
        </div>
    </div>
</div>