﻿@model ZZTIntegration.Web.Models.ArticleLineItem
@{
    int index;
    int.TryParse(ViewData["index"].ToString(), out index);
}
<tr class="@(Model.IsWrong || Model.IsDataWrong ? "errorLine" : "") @(Model.IsAbsent ? "absentLine" : "")">
    <td>
        <div style="float:left;">@(index + 1)</div>
@*        @if (Model.IsAbsent)
        {
            <div style="float:left; margin-left:5px; margin-top: 2px;" class="ui-red ui-icon ui-icon-alert"></div>
        }*@
    </td>
    <td>@Html.DisplayFor(m => m.ArticleNum)</td>
@*    <td>
        @Html.DisplayFor(m => m.StateName)
    </td>
    <td>
        <div class="expandableComment">
            @Html.Raw(Model.Comment)
        </div>
    </td>*@
    <td><a href="@Model.ProductLink" target="_blank">@Model.Description</a></td>
    <td>
        @if(Model.Type != ZZTIntegration.Web.Common.ArticleType.Service)
        {
            <a style="float:left;" data-href="@Url.Action("SubQty", "Home", new { index = index })" class="customLink submitButton ui-red ui-icon ui-icon-minusthick"></a>
            <span style="float:left; margin: 0px 10px;">@Model.Qty</span>
            <a style="float:left;" data-href="@Url.Action("AddQty", "Home", new { index = index })" class="customLink submitButton ui-green ui-icon ui-icon-plusthick"></a>
        }
    </td>
    <td>@String.Format("{0:0.00}", Model.Price) руб.</td>
    <td>
        @Html.HiddenFor(m => Model.State)
        @Html.HiddenFor(m => Model.Comment)
        @Html.HiddenFor(m => Model.IsAbsent)
        @Html.HiddenFor(m => Model.IsWrong)
        @Html.HiddenFor(m => Model.Type)
        @Html.HiddenFor(m => Model.LineId)
        @Html.HiddenFor(m => Model.ArticleNum)
        @Html.HiddenFor(m => Model.Description)
        @Html.HiddenFor(m => Model.Qty)
        @Html.HiddenFor(m => Model.Price)
        <a style="float:right;" data-href="@Url.Action("DeleteBasketArticle", "Home", new { index = index })" class="customLink submitButton ui-red ui-icon ui-icon-closethick" />
    </td>
</tr>
@if(!String.IsNullOrEmpty(Model.Comment) || !String.IsNullOrEmpty(Model.StateName))
{
    <tr>
        <td colspan="7">
            @if (!String.IsNullOrEmpty(Model.StateName))
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.StateName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DisplayFor(m => m.StateName)
                    </div>
                </div>
            }
            @if(!String.IsNullOrEmpty(Model.Comment))
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.Comment, new { @class = "control-label" })
                    <div class="controls">
                        <div class="expandableComment">
                            <div class="expandableIcon ui-icon ui-icon-triangle-1-s"> </div>
                        @Html.Raw(Model.Comment)
                        </div>
                    </div>
                </div>
            }
        </td>
    </tr>
}
@*<tr>
    <td>
        Статус
    </td>
    <td>
        @Model.StateName
    </td>
    <td>
        Комментарий менеджера
    </td>
    <td colspan="3">
        <div class="expandableComment">
                @Html.Raw(Model.Comment)
                </div>
    </td>
</tr>*@