﻿
@model ZZTIntegration.Web.Models.CustomerItem
<h4>Заказчик</h4>
@Html.HiddenFor(m => m.CustomerId)
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.CustomerSurname)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.CustomerSurname)
        @Html.ValidationMessageFor(m => m.CustomerSurname)
    </div>
</div>
@*<div class="control-group">
    @Html.LabelFor(m => m.CustomerName, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(m => m.CustomerName)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(m => m.CustomerLastName, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(m => m.CustomerLastName)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(m => m.Birthday, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(m => m.Birthday, new { @Value = (Model.Birthday.HasValue ? Model.Birthday.Value.ToString("dd.MM.yyyy") : ""), @class = "input-small" })
    </div>
</div>*@    
<div class="control-group">
    @Html.LabelFor(m => m.Gender, new { @class = "control-label" })
    <div class="controls">
        @foreach (var item in Model.GenderDictionary)
        {
            <label class="radio inline">
                @Html.RadioButtonFor(m => m.Gender, item.Key)
                @item.Value
            </label>
        }
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(m => m.InvoiceNotSame, new { @class = "control-label" })
    <div class="controls">
        @Html.CheckBoxFor(m => m.InvoiceNotSame)
    </div>
</div>
<div class="invoiceCustomerBlock" style=@(!Model.InvoiceNotSame ? "display:none;" : "")>
@*    <hr style="max-width: 500px;"/>
    <h3 style="display:inline;">Получатель</h3>*@
    <div class="control-group">
        @Html.LabelFor(m => m.RecipientName, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.RecipientName)
            @Html.ValidationMessageFor(m => m.RecipientName)
        </div>
    </div>
</div>
@*<hr style="max-width: 500px;"/>
<h3>Контактные данные</h3>*@
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
</div>
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.MainPhone)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.MainPhone, new { @class = "keyfilter-phone" })
        @Html.ValidationMessageFor(m => m.MainPhone)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(m => m.OptionalPhones, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(m => m.OptionalPhones)
    </div>
</div>
@*<div class="control-group">
    @Html.LabelFor(m => m.Fax, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(m => m.Fax, new { @class = "input-medium" })
    </div>
</div>*@