﻿@using ZZTIntegration.Web.Common
@model ZZTIntegration.Web.Models.DeliveryInfoItem
@{
    bool isFixed = false;
    if (ViewData["isFixed"] != null)
    {
        bool.TryParse(ViewData["isFixed"].ToString(), out isFixed);
    }
}
<div class="control-group">
    <input type="hidden" id="placesGeo" value="@Model.PlacesGeoJson" />
    @Html.LabelFor(m => m.DeliveryType, new { @class = "control-label" })
    <div class="controls">
        @if (isFixed && !String.IsNullOrEmpty(Model.DeliveryType) && Model.ActualTypes != null && Model.ActualTypes.ContainsKey(Model.DeliveryType))
        {
            @Html.HiddenFor(m => m.DeliveryType)
        }
        @Html.DropDownListFor(m => m.DeliveryType, Model.ActualTypes != null && Model.ActualTypes.Count > 0 ? Model.ActualTypes.Select(m =>
        new SelectListItem { Value = m.Key, Text = m.Value }) : new List<SelectListItem>(), isFixed ? new { @disabled="disabled"} : null)
        @Html.ValidationMessageFor(m => m.DeliveryType)
        @Html.HiddenFor(m => m.DeliveryTypeName)
    </div>
</div>
<div class="control-group deliveryPlace">
    @Html.LabelFor(m => m.DeliveryPlace, new { @class = "control-label" })
    <div class="controls">
        @if (isFixed && !String.IsNullOrEmpty(Model.DeliveryPlace) && Model.Places != null && Model.Places.ContainsKey(Model.DeliveryPlace))
        {
            @Html.HiddenFor(m => m.DeliveryPlace)
        }
        @Html.DropDownListFor(m => m.DeliveryPlace, Model.Places != null && Model.Places.Count > 0 ? Model.Places.Where(el=>!el.Key.Contains("R930")).Select(m => //TODO Плохой фикс для того, чтобы убрать точки самовывоза с формы. Будеть время - надо перехреначить пятую часть TicketTool.Integration.ZZT.Services 
        new SelectListItem { Value = m.Key, Text = m.Key + " - " + m.Value }) : new List<SelectListItem>(),  isFixed ? new { @disabled="disabled"} : null)
        @if(!isFixed)
        {
            <a class="customLink pickupMapLink">Найти на карте</a> 
        }
        @Html.ValidationMessageFor(m => m.DeliveryPlace)
        @Html.HiddenFor(m => m.DeliveryPlaceName)
    </div>
</div>
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.DeliveryDate)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.DeliveryDate, new { @Value = (Model.DeliveryDate.HasValue ? Model.DeliveryDate.Value.ToString("dd.MM.yyyy") : ""), @class="input-small datepicker"})
        @Html.ValidationMessageFor(m => m.DeliveryDate)
    </div>
</div>
@if(Model.Places != null)
{
    <div style="display:none;">
        @Html.Partial("Dialogs/PickupMap", Model.PlacesGeo)
    </div>
}