﻿@model ZZTIntegration.Web.Models.DeliveryPriceItem
<div class="deliveryPrice">
    <h4>Стоимость доставки</h4>
@*    @Html.ValidationMessageFor(m => m.DeliveryPrice)
    <div class="control-group">
        <div class="control-label">
            <div style="float:right; padding-left: 5px;">*</div>
            @Html.LabelFor(m => m.DeliveryPrice)
        </div>
        <div class="controls">
            @Html.TextBoxFor(m => m.DeliveryPrice, new { @class = "mask-money", @Value=String.Format("{0:0.00}", Model.DeliveryPrice)})
        </div>
    </div>*@
    <div class="control-group">
        @Html.LabelFor(m => m.DeliveryZone, new { @class = "control-label" })
        <div class="controls">
            @foreach (var item in Model.Zones)
            {
                <label class="radio">
                    @Html.RadioButtonFor(m => m.DeliveryZone, item.Id)
                    @if(!String.IsNullOrEmpty(item.Colour))
                    {
                        <div style="float:left; background-color:@item.Colour; width:20px; height:20px; margin-right: 10px;"></div>
                        <div>@item.Price руб.</div>
                    }
                    else
                    {
                        @item.Name
                    }
                </label>
            }
        </div>
    </div>
    <div class="control-group unknownPrice" style="display:none;">
        <div class="control-label">
            <div style="float:right; padding-left: 5px;">*</div>
            @Html.LabelFor(m => m.DeliveryPrice)
        </div>
        <div class="controls">
            @Html.TextBoxFor(m => m.DeliveryPrice, new { @class = "mask-money", @Value=String.Format("{0:0.00}", Model.DeliveryPrice)})
            @Html.ValidationMessageFor(m => m.DeliveryPrice)
        </div>
    </div>
</div>