﻿@model ZZTIntegration.Web.Models.DeliveryAddressItem
<div class="deliveryAddress">
<h4>Адрес получения заказа</h4>
    <div class="control-group">
        <div class="control-label">
            <div style="float:right; padding-left: 5px;">*</div>
            @Html.LabelFor(m => m.City)
        </div>
        <div class="controls" style="position:relative;">
            @Html.TextBoxFor(m => m.City, new { @class = "input-large autocompleteCity" })
            <div style="position: absolute;top: 5px; left: 190px;" class="loader"></div>
            @Html.HiddenFor(m => m.CityId)
            @Html.ValidationMessageFor(m => m.City)
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <div style="float:right; padding-left: 5px;">*</div>
            @Html.LabelFor(m => m.Street)
        </div>
        <div class="controls">
            @Html.TextBoxFor(m => m.Street, new { @class = "input-large" })
            @Html.ValidationMessageFor(m => m.Street)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Floor, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Floor, new { @class = "input-large mask-pint" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.HasElevator, new { @class = "control-label" })
        <div class="controls">
            @Html.CheckBoxFor(m => m.HasElevator)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Additional, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(m => m.Additional)
        </div>
    </div>
</div>