﻿<div id="cancelBoardMessageDialog">
@{
    var orderId = Model as string != null ? Model as string : "";
}
@using (Html.BeginForm("Cancel", "BoardMessage", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input id="cancelOrderId" name="cancelOrderId" type="hidden" value="@orderId"/>
    <div class="control-group" style="margin:20px 0px;">
        <label class="control-label" for="cancelReason">Причина отмены:</label>
        <div class="controls">
            <input id="cancelReason" name="cancelReason" type="text" />
        </div>
    </div>
    <noscript>
        <input type="submit" name="Login" value="Отменить"/>
    </noscript>
}
</div>