﻿
@model ZZTIntegration.Web.Models.CustomerItem
<h4>Заказчик</h4>
<div class="control-group display">
    @Html.LabelFor(m => m.CustomerSurname, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.CustomerSurname)
    </div>
</div> 
<div class="control-group display">
    @Html.LabelFor(m => m.Gender, new { @class = "control-label" })
    <div class="controls">
        @{
            var genders = Model.GenderDictionary.Where(m => m.Key == Model.Gender);
        }
        @(genders.Any() ? genders.First().Value : "")
    </div>
</div>
@if(Model.InvoiceNotSame)
{
<div class="control-group display">
    @Html.LabelFor(m => m.RecipientName, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.RecipientName)
    </div>
</div>
}
<div class="control-group display">
    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.Email)
    </div>
</div>
<div class="control-group display">
    @Html.LabelFor(m => m.MainPhone, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.MainPhone, new { @class = "keyfilter-phone" })
    </div>
</div>
<div class="control-group display">
    @Html.LabelFor(m => m.OptionalPhones, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.OptionalPhones)
    </div>
</div>