﻿@using ZZTIntegration.Web.Common
@model ZZTIntegration.Web.Models.DeliveryInfoItem
<div class="control-group display">
    @Html.LabelFor(m => m.DeliveryType, new { @class = "control-label" })
    <div class="controls">
        @{
            var types = Model.Types.Where(m => m.Key == Model.DeliveryType);
        }
        @(types.Any() ? types.First().Value : "")
    </div>
</div>
@if(Model.DeliveryType != "2")
{
    <div class="control-group display">
        @Html.LabelFor(m => m.DeliveryPlace, new { @class = "control-label" })
        <div class="controls">
            @Html.DisplayFor(m => m.DeliveryPlace)
        </div>
    </div>
}
<div class="control-group display">
    @Html.LabelFor(m => m.DeliveryDate, new { @class = "control-label" })
    <div class="controls">
        @(Model.DeliveryDate.HasValue ? Model.DeliveryDate.Value.ToString("dd.MM.yyyy") : "")
    </div>
</div>