﻿@model ZZTIntegration.Web.Models.DeliveryAddressItem
<div class="deliveryAddress">
<h4>Адрес получения заказа</h4>
    <div class="control-group display">
        @Html.LabelFor(m => m.City, new { @class = "control-label" })
        <div class="controls">
            @Html.DisplayFor(m => m.City)
        </div>
    </div>
    <div class="control-group display">
        @Html.LabelFor(m => m.Street, new { @class = "control-label" })
        <div class="controls">
            @Html.DisplayFor(m => m.Street)
        </div>
    </div>
    <div class="control-group display">
        @Html.LabelFor(m => m.Floor, new { @class = "control-label" })
        <div class="controls">
            @Html.DisplayFor(m => m.Floor)
        </div>
    </div>
    <div class="control-group display">
        @Html.LabelFor(m => m.HasElevator, new { @class = "control-label" })
        <div class="controls">
            @(Model.HasElevator ? "есть" : "нет")
        </div>
    </div>
    <div class="control-group display">
        @Html.LabelFor(m => m.Additional, new { @class = "control-label" })
        <div class="controls">
            @Html.DisplayFor(m => m.Additional)
        </div>
    </div>
</div>