﻿@model ZZTIntegration.Web.Models.DeliveryPriceItem
<div class="deliveryPrice">
    <h4>Стоимость доставки</h4>
    <div class="control-group display">
        @Html.LabelFor(m => m.DeliveryPrice, new { @class = "control-label" })
        <div class="controls">
            @Html.DisplayFor(m => m.DeliveryPrice) руб.
        </div>
    </div>
</div>