﻿@{
    Layout = "~/Views/Shared/_baseLayout.Mobile.cshtml";
}
@model TicketTool.Web.Models.StatisticsData
@section scripts{
    <script src="@Url.Content("~/Scripts/custom/base.Mobile.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.mobile.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.Mobile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.10.3.mobile.min.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                refreshControl('@Url.Action("WorkSkillsetGridView", "Statistics")', 'workSkillsetContainer', true);
                refreshControl('@Url.Action("EscalatedSkillsetGridView", "Statistics")', 'escalatedSkillsetContainer', true);
                refreshControl('@Url.Action("StoresGridView", "Statistics")', 'storesContainer', true);
                refreshControl('@Url.Action("UsersTreeView", "Statistics")', 'usersContainer', true);
            }, 60 * 1000);
            $(".tablesorter").tablesorter();
            $(".tabControl").tabs();
        });
    </script>
}
<div style="padding: 5px 0px;">Рабочие скилсеты:</div>
<div class="workSkillsetContainer">
    @Html.Partial("StatisticsControls/WorkSkillsetGridView", Model.WorkSkillSets)
</div>
<div style="padding: 35px 0px 5px 0px;">Эскалация:</div>
<div style="padding-bottom:35px;" class="escalatedSkillsetContainer">
    @Html.Partial("StatisticsControls/EscalatedSkillsetGridView", Model.EscalatedSkillSets)
</div>
<div class="tabControl">
    <ul>
        <li><a href="#tabs-1">Магазины</a></li>
        <li><a href="#tabs-2">Пользователи</a></li>
    </ul>
    <div id="tabs-1">
        <div class="storesContainer">
            @Html.Partial("StatisticsControls/StoresGridView", Model.StoreRealTimeStat)
        </div>
    </div>
    <div id="tabs-2">
        <div class="usersContainer">
            @Html.Partial("StatisticsControls/UsersTreeView", Model.UserLogStat)
        </div>
    </div>
</div>