﻿<div id="loginUserDialog" title="Login user">
@{
    bool showSubmit = false;
    string returnUrl = "";
    if(ViewData["ShowSubmit"] != null)
    {
        bool.TryParse(ViewData["ShowSubmit"].ToString(), out showSubmit);
    }
    if (ViewData["returnUrl"] != null)
    {
        returnUrl = ViewData["returnUrl"].ToString();
    }
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", @style = "padding:10px 0px;" }))
{
    <input type="hidden" name="returnUrl" id="returnUrl" value="@returnUrl"/>
    <fieldset>
        <div class="control-group">
            @Html.Label("Логин", new { @class = "control-label" })  
            <div class="controls">
                <input type="text" name="name" id="name"/>
            </div>
        </div>
        <div class="control-group">
            @Html.Label("Пароль", new { @class = "control-label" })  
            <div class="controls">
                <input type="password" name="password" id="password" value="" />
            </div>
        </div>
    </fieldset>
    if(showSubmit)
    {
        <div class="control-group">
            <div class="controls">
                <input type="submit" name="Login" value="Войти"/>
            </div>
        </div>
    }
}
</div>
