﻿@model TicketTool.Web.Models.Items.ClusterItem

@{
    Layout = "~/Views/Shared/_rootLayout.cshtml";
}

<div>
    @using (Html.BeginForm("Create", "Clusters", FormMethod.Post))
    {
        <div class="control-group">
            <div class="control-label">
                @Html.Label("Имя")
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.Name)
                @Html.HiddenFor(m => m.Name)
            </div>
        </div>
        <div class="controls">
            <span>Выбранные параметры</span>
            <div style="overflow: auto;height: 310px;width: 320px;">
                <table class="table table-striped table-bordered" style="width: 300px;height: 800px;">
                    <thead>
                        <tr>
                            <th>Имя</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.AllParameters.Count; i++)
                        {
                            <tr>
                                <td style="text-align: center;">
                                    <label class="checkbox">
                                        @Html.HiddenFor(m => Model.AllParameters[i].Name)
                                        @Html.CheckBoxFor(m => Model.AllParameters[i].IsSelected)<span>@Model.AllParameters[i].Name</span>                                       
                                        @Model.AllParameters[i].DisplayName
                                    </label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" name="Create" value="Сохранить" />
            </div>
        </div>
    }
</div>