﻿@using TicketTool.Web.Common
@model IEnumerable<TicketTool.Web.Models.Items.ClusterItem>

@{
    Layout = "~/Views/Shared/_rootLayout.cshtml";
}

<h2>Кластеры</h2>


<script type="text/javascript">
    $(document).ready(function() {
        $('.jsAction').click(function() {
            var actionName = $(this).data('type');
            var parameter = { name: $(this).data('parameter') };
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: parameter,
                success: location.reload(),
            });
        });
    });
</script>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width:20px;"> </th>
            <th>Имя</th>
            <th>Параметры</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var elem in Model)
        {
            <tr>
                <td></td>
                <td>@elem.Name</td>
                <td>@string.Join(";",elem.Parameters)</td>
                <td>@Html.ActionLink("Редактировать", "Edit", new {Name=elem.Name})</td>
                <td><a href="#" data-type="delete" data-parameter="@elem.Name" class="jsAction">Удалить</a></td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Создать","Create")
</div>