﻿@using Zzt.Web.MVC.Extensions
@model Zzt.Web.MVC.Models.OrderLine

@{
    var edit = ViewBag.IsEdit as bool?;
}

<div class="control-group">
    @Html.LabelFor(m => m.ArticleNo, new {@class = "control-label"})
    <div class="controls">
        @if (edit.HasValue && edit.Value)
        {
            @Html.TextBoxFor(m => m.ArticleNo, new {@class = "control-label", disabled = "disabled"})
        }
        else
        {
            @Html.TextBoxFor(m => m.ArticleNo);
        }
    </div>
</div>
<div class="control-group" id="@Html.IdFor(m => m.ArticleTitle)" style="display:@((Model.ArticleNo != default(long) && !string.IsNullOrEmpty(Model.ArticleTitle)) ? "inherit" : "none");">
    @Html.LabelFor(m => m.ArticleTitle, new {@class = "control-label"})
    <div class="controls">
        @Html.LabelFor(m => m.ArticleTitle, new {@class = "control-label"})
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(m => m.Price, new { @class = "control-label"})
    <div class="controls">
        @Html.TextBoxFor(m => m.Price)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(m => m.DiscountPercentage, new {@class = "control-label"})
    <div class="controls">
        @Html.TextBoxFor(m => m.DiscountPercentage)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(m => m.DiscountPrice, new {@class = "control-label"})
    <div class="controls">
        @Html.TextBoxFor(m => m.DiscountPrice, new {@class = "control-label", disabled = "disabled"})
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(m => m.Quantity, new {@class = "control-label"})
    <div class="controls">
        @Html.TextBoxFor(m => m.Quantity)
    </div>
</div>
<div class="control-group">
    <div class="controls">
        @Html.CheckBoxFor(m => m.LongTail, new { style = "margin-top: 0px;vertical-align: middle;" })
        &nbsp;
        @Html.LabelFor(m => m.LongTail, new {@class = "control-label", style = "display: inline-block;" })
        @Html.ValidationMessageFor(m => m.LongTail)
    </div>
</div>