﻿@using System.Globalization
@using Zzt.Web.MVC.Extensions
@using Zzt.Web.MVC.Models
@model EditOrder
@{
    ViewBag.Title = Model.Header;
    ViewBag.TotalSummId = Guid.NewGuid().ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";

    var messages = ViewData["Messages"] as List<Message>;
    var formId = Guid.NewGuid().ToString();
    var scd = ViewBag.SelfCarryDictionary is List<KeyValuePair<string, bool>>
                  ? string.Join(", ", ((List<KeyValuePair<string, bool>>) ViewBag.SelfCarryDictionary).Select(pair => string.Format("{0}: {1}", pair.Key, pair.Value.ToString().ToLower())))
                  : "";
    var fromPHP = ViewBag.FromPHP as bool? == true;
    var routeData = new
        {
            sap_code = ViewBag.SapCode,
            orderId = Model.Order.OrderId,
            basket = UrlExtensions.CallcenterBasketJson(Model.Order.OrderLines),
            action = fromPHP ? "closeFrame" : "",
        };
}
<link href="https://dadata.ru/static/css/lib/suggestions-4.8.css" type="text/css" rel="stylesheet" />
@section script{
<!--[if lt IE 10]>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<![endif]-->
<script type="text/javascript" src="https://dadata.ru/static/js/lib/jquery.suggestions-4.8.min.js"></script>
    <script src="~/Scripts/jquery.ui/jquery.ui.datepicker-ru.js"></script>
    @* ReSharper disable once AssignedValueIsNeverUsed *@
    <script type="text/javascript">
    var lastReqPP = 0,
        lastReqSS = 0,
        initialHash = 0;
    var basket = '@UrlExtensions.BuildQueryString(routeData)';
    var scd = { @scd };

    var cashOnDelivery = '@(this.Model.Order.PaymentTypeLabel.NameRu == "Наличными при получении заказа" ? "1" : "0")';
    var discountTotalSumm = @(this.Model.Order.DiscountTotalSumm == 0 ? "0" : this.Model.Order.DiscountTotalSumm.ToString("#.##", new CultureInfo(1033)));

    var prefixes = [];
    @for (int i = 0; i < Model.DadataSettings.BORegionPrefixes.Count; i++)
        {<text>
    prefixes[@i] = {region: "@Model.DadataSettings.BORegionPrefixes[i].region", prefix: "@Model.DadataSettings.BORegionPrefixes[i].prefix"};
    </text>}

    $(document).ready(function() {
        createOrderInitJS();
        $("ul.suggestions-constraints").hide();
    });

    function initDadata() {
        $("#@Html.IdFor(m => m.Order.FullName)").suggestions({
            serviceUrl: "@Model.DadataSettings.SuggestionUrlFio",
            type: "NAME",
            selectOnSpace: true,
            token: "@Model.DadataSettings.AuthToken",
            onSelect: function(suggestion) {
                console.log(suggestion);
            }
        });

        $("#@Html.IdFor(m => m.Order.Address)").suggestions({
            serviceUrl: "@Model.DadataSettings.SuggestionUrlAddress",
            token: "@Model.DadataSettings.AuthToken",
            selectOnSpace: true,
            constraints: {
                label: " ",
                restrictions: [
                    @Html.Raw(Model.Order.CityJsonList)
                ]
            },
            type: "ADDRESS",
            onSearchComplete: function(q, s) {
                if (s && s.length) {
                    applyAddress(s[0]);
                }
            },
            onSelect: function(suggestion) { applyAddress(suggestion); }
        });
        $("#@Html.IdFor(m => m.Order.Address)_CheckBtn").click(checkAddress);
    }

    function applyAddress(dadata) {
        var c, d = dadata.data;
        if (!d) return;

        var prefix;
        for (var i = 0; i < prefixes.length - 1; i++) {
            if (prefixes[i].region === d.region.toLowerCase()) {
                prefix = prefixes[i].prefix;
                break;
            }
        }

        c = d.settlement || d.city || d.region || '';
        c = c.substring(c.indexOf(' ') + 1);
        if (prefix) c = prefix + c;
        if (c && c.length)
            $('#@Html.IdFor(m => m.Order.City)').find('option').each(function(x, y) {
                if ($(y).html().toLowerCase() === c.toLowerCase()) {
                    $(y).attr('selected', true);
                    $(y).trigger('change');
                }
            });

        $('#@Html.IdFor(m => m.Order.Housing)').val('');
        $('#@Html.IdFor(m => m.Order.Building)').val('');
        if (d.block_type === 'к') {
            $('#@Html.IdFor(m => m.Order.Housing)').val(d.block || '');
        }
        if (d.block_type === 'стр') {
            $('#@Html.IdFor(m => m.Order.Building)').val(d.block || '');
        }
        if (d.street_type === "ул")
            $('#@Html.IdFor(m => m.Order.Street)').val(d.street || '');
        else
            $('#@Html.IdFor(m => m.Order.Street)').val((d.street || '') + ' ' + (d.street_type_full || ''));
        $('#@Html.IdFor(m => m.Order.House)').val(d.house || '');
        $('#@Html.IdFor(m => m.Order.Flat)').val(d.flat || '');
    }

    function checkAddress() {
        var v =
            appendInputValue(
                appendInputValue(
                    appendInputValue(
                        appendInputValue(
                            appendInputValue(
                                '', $('#@Html.IdFor(m => m.Order.City)').find('option[value="' + $('#@Html.IdFor(m => m.Order.City)').val() + '"]').html()), $('#@Html.IdFor(m => m.Order.Street)').val()), $(@Html.IdFor(m => m.Order.House)).val()), $(@Html.IdFor(m => m.Order.Housing)).val()), $(@Html.IdFor(m => m.Order.Building)).val()
        );

        var h = v.toString().hashCode();
        $.ajax({
            url: '@Url.Content("~/")' + 'api/Address',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ "Address": v, "Hash": h }),
            success: function(data) {
                if (data.Hash !== h)
                    return;
                if (data.AddressData) {
                    alert(data.AddressData.qc == 0 ? "Адрес пригоден для почтовой отправки" : "Адрес не пригоден для почтовой отправки");
                }
            }
        });
    }

    function appendInputValue(oldValue, newValue) {
        if (newValue)
            return oldValue && oldValue.length ? oldValue + ' ' + newValue : newValue;
        return oldValue || '';
    }

    function initDatePickers() {
        Globalize.culture("ru-RU");
        $.datepicker.setDefaults($.datepicker.regional["ru"]);
        $('input[type$="datetime"]').datepicker({
            minDate: '+0d',
            dateFormat: 'dd.mm.yy',
            altFormat: 'M.dd.yy'
        });
    }

    function togglePickupPoint() {
        var select = $('#@Html.IdFor(m => m.Order.DeliveryType)').val();
        if (scd[select]) {
            $('#@Html.IdFor(m => m.Order)' + '-additional_address_params').slideUp();
            $('#@Html.IdFor(m => m.Order.PickupPointId)').closest('.control-group').slideDown();
            $('#itemCategoryControlGroup').slideDown();
            searchPickupPoint();
        } else {
            $('#@Html.IdFor(m => m.Order)' + '-additional_address_params').slideDown();
            $('#@Html.IdFor(m => m.Order.PickupPointId)').closest('.control-group').slideUp();
            $('#itemCategoryControlGroup').slideUp();
        }
        $('#@(Html.IdFor(m => m.Order.DeliveryPrice))').change();
    }

    function searchPickupPoint() {
        var container = $('#@Html.IdFor(m => m.Order.PickupPointId)').closest('.controls');
        var value = $('#@Html.IdFor(m => m.Order.DeliveryType)').val();
        if (!container.children('[name="loader"]').length)
            container.append(generateLoader(container, '@Url.GetAbsoluteUrl(Url.Content("~/Content/themes/base/images/ajax-loader.gif"))'));
        container.children('[name="loader"]').show().find('*').show();

        if (scd[value]) {
            var cityId = $('#@Html.IdFor(m => m.Order.City) option:selected').text();
            var selected = $('#@Html.IdFor(m => m.Order.PickupPointId)').val();
            if (cityId) {
                $.ajax({
                    data: "cityId=" + cityId + "&req=" + ++lastReqPP + "&selected=" + selected,
                    url: '@Url.Action("GetPickUpPoints", "Orders")',
                    success: function(data, status, params) {
                        if (parseInt(params.getResponseHeader('req')) == window.lastReqPP)
                            $('#@Html.IdFor(m => m.Order.PickupPointId)').html(data);
                        //filterPickupPoints();
                        $('#@Html.IdFor(m => m.Order.PickupPointId)').val(selected);
                        setPickupPointAddress();
                        hideLoader(container);
                    },
                    error: function() {
                        hideLoader(container);
                    }
                });
            } else {
                hideLoader(container);
            }
        }
    }

    function setPickupPointAddress() {
        $('#ext-address').html('');
        $('#ext-address').html($('#@Html.IdFor(m => m.Order.PickupPointId)').find('option[value=' + $('#@Html.IdFor(m => m.Order.PickupPointId)').val() + ']').attr('ext-address'));
    }

    function searchMetroStation(selected) {
        var container = $('#@Html.IdFor(m => m.Order.SubwayStationId)').closest('.controls');
        container.find('*').hide();
        if (!container.children('[name="loader"]').length)
            container.append(generateLoader(container, '@(Url.GetAbsoluteUrl(Url.Content("~/Content/themes/base/images/ajax-loader.gif")))'));
        container.children('[name="loader"]').show().find('*').show();

        var cityId = $('#@Html.IdFor(m => m.Order.City)').val();
        if (!selected)
            selected = $('#@Html.IdFor(m => m.Order.SubwayStationId)').val();
        if (cityId) {
            $.ajax({
                data: "cityId=" + cityId + "&req=" + ++lastReqSS + "&selected=" + selected,
                url: '@Url.Action("GetMetroStations", "Orders")',
                success: function(data, status, params) {
                    if (parseInt(params.getResponseHeader('req')) == window.lastReqSS)
                        $('#@Html.IdFor(m => m.Order.SubwayStationId)').html(data);
                    hideLoader(container);
                },
                error: function() {
                    hideLoader(container);
                }
            });
        }
    }

    function hideLoader(container) {
        container.find('*').show();
        container.children('[name="loader"]').hide();
    }

    function createOrderInitJS() {
        $('#@Html.IdFor(m => m.Order.IsReceiverNotCustomer)').change(function() {
            $('#@Html.IdFor(m => m.Order.RecepientName)').toggle();
            $('#@Html.IdFor(m => m.Order.RecepientName)').next().toggle();
        });
        $('#@Html.IdFor(m => m.Order.RecepientName)').width($('#@Html.IdFor(m => m.Order.RecepientName)').width() - 21);
        if ($('#@Html.IdFor(m => m.Order.IsReceiverNotCustomer)').is(':checked')) {
            $('#@Html.IdFor(m => m.Order.RecepientName)').show();
            $('#@Html.IdFor(m => m.Order.RecepientName)').next().show();
        } else {
            $('#@Html.IdFor(m => m.Order.RecepientName)').hide();
            $('#@Html.IdFor(m => m.Order.RecepientName)').next().hide();
        }

        $('#@Html.IdFor(m => m.Order.HasSecondPhone)').change(function() {
            $('#@Html.IdFor(m => m.Order.OptionalPhones)').toggle();
            $('#@Html.IdFor(m => m.Order.OptionalPhones)').next().toggle();
        });
        $('#@Html.IdFor(m => m.Order.OptionalPhones)').width($('#@Html.IdFor(m => m.Order.OptionalPhones)').width() - 21);
        if ($('#@Html.IdFor(m => m.Order.HasSecondPhone)').is(':checked')) {
            $('#@Html.IdFor(m => m.Order.OptionalPhones)').show();
            $('#@Html.IdFor(m => m.Order.OptionalPhones)').next().show();
        } else {
            $('#@Html.IdFor(m => m.Order.OptionalPhones)').hide();
            $('#@Html.IdFor(m => m.Order.OptionalPhones)').next().hide();
        }

        $('#OrderDeliveryTimeSlot').change(function() {
            var opt = $('#OrderDeliveryTimeSlot  option:selected');
            $('#@Html.IdFor(m => m.Order.PropesedDeliveryFromHours)').val(opt.attr('data-from'));
            $('#@Html.IdFor(m => m.Order.ProposedDeliveryToHours)').val(opt.attr('data-to'));
        });

        $('#@Html.IdFor(m => m.Order.NeedLiftToFloor)').change(function() {
            $('#LiftToFloorForm').toggle();
            var chk = $("input[type='hidden']").filter("input[name*='NeedLiftToFloor']");
            if (!$('#@Html.IdFor(m => m.Order.NeedLiftToFloor)').is(':checked')) {
                $('#@Html.IdFor(m => m.Order.FloorTax)').val('0');
                $('#@Html.IdFor(m => m.Order.Floor)').val('');
                $('#@Html.IdFor(m => m.Order.HasServiceLift)').attr('checked', false);
                chk.val('false');
            } else {
                $('#@Html.IdFor(m => m.Order.HasServiceLift)').attr('checked', true);
                chk.val('true');
            }
            $('#@Html.IdFor(m => m.Order.FloorTax)').trigger('change');
        });
        if ($('#@Html.IdFor(m => m.Order.NeedLiftToFloor)').is(':checked')) {
            $('#LiftToFloorForm').show();
        } else {
            $('#LiftToFloorForm').hide();
            $('#@Html.IdFor(m => m.Order.FloorTax)').val();
            $('#@Html.IdFor(m => m.Order.Floor)').val();
            $('#@Html.IdFor(m => m.Order.HasServiceLift)').attr('checked', false);
        }

        initDadata();
        initDatePickers();

        $('#@Html.IdFor(m => m.Order.DeliveryType)')
            .change(togglePickupPoint)
            .change(filterTimeSlots);
        $('#@Html.IdFor(m => m.Order.City)')
            .change(searchMetroStation)
            .change(searchPickupPoint)
            .change(filterTimeSlots);
        togglePickupPoint();
        searchMetroStation(@Model.Order.SubwayStationId);

        $('#@(Html.IdFor(m => m.Order.FloorTax)),#@(Html.IdFor(m => m.Order.DeliveryPrice)),#@(Html.IdFor(m => m.Order.DiscountTotalSumm))').change(function() {
            var totalSumm = $('#Order_@ViewBag.TotalSummId');
            var select = $('#@Html.IdFor(m => m.Order.DeliveryType)').val();
            var summ = 0;
            if (!scd[select]) {
                $('#@(Html.IdFor(m => m.Order.FloorTax))').each(function() {
                    summ += parseFloat($(this).val()) || 0;
                });
            }
            $('#@(Html.IdFor(m => m.Order.DeliveryPrice))').each(function() {
                summ += parseFloat($(this).val()) || 0;
            });
            $('#@(Html.IdFor(m => m.Order.DiscountTotalSumm))').each(function() {
                summ += parseFloat($(this).val()) || 0;
            });
            totalSumm.val(summ.toFixed());
        });

        $('#@Html.IdFor(m => m.Order.PickupPointId)').change(setPickupPointAddress);

        initialHash = $('#@formId').serialize().hashCode();

        if (!/Orders\/LineAdd|Orders\/LineDec|Orders\/LineDel/.test(document.URL))
            $('button[type="submit"]').closest('li.ui-button').addClass('ui-state-disabled');

        $('button[type="submit"]').click(function(ev) {
            if ($(this).closest('li.ui-button').hasClass('ui-state-disabled')) {
                $('form').valid();
                ev.preventDefault();
            }
        });

        $('input, select, textarea').change(function() {
            if (initialHash != $('#@formId').serialize().hashCode())
                $('button[type="submit"]').closest('li.ui-button').removeClass('ui-state-disabled');
        });

        $('.img-icon.ui-button').click(function() {
            var button = $(this);
            var ref = button.attr("itemref");
            if (!ref)
                return;

            /*
Ignore all
*/
            var tempIgnore = $('form').validate().settings.ignore;
            $('form').validate().settings.ignore = '*';

            if ($('form').valid()) {
                var form = button.closest('form');
                form.attr('action', ref);
                form.submit();
            }

            /*
Restore ignore
Because ... just in case. Hell yeah.
*/
            $('form').validate().settings.ignore = tempIgnore;
        });

        $.validator.methods.number = function(value) {
            return !isNaN(Globalize.parseFloat(value));
        };

        $.validator.methods.date = function(value) {
            return !isNaN(Globalize.parseDate(value));
        };

        $('input[name="Order.itemCategory"]').change(function() {
            var selected = $('#@Html.IdFor(m => m.Order.PickupPointId)').val();
            //filterPickupPoints();
            if ($('#@Html.IdFor(m => m.Order.PickupPointId)').children('option[value="' + selected + '"]').is(':disabled'))
                $('#@Html.IdFor(m => m.Order.PickupPointId)').val('');
            setPickupPointAddress();
        });
        filterTimeSlots();
        var timeslot = $('#OrderDeliveryTimeSlot option:selected');
        $('#@Html.IdFor(m => m.Order.PropesedDeliveryFromHours)').val(timeslot.attr('data-from'));
        $('#@Html.IdFor(m => m.Order.ProposedDeliveryToHours)').val(timeslot.attr('data-to'));

        try {
            document.domain = '@System.Web.Compilation.AppSettingsExpressionBuilder.GetAppSetting("CallcenterDomain")';
        } catch (e) {
            console.error(e);
        }
    }

    function addNewLine(itemId) {
        itemId = itemId || '';
        @(!fromPHP
                  ? Html.Raw(@"top.openCallCenter(basket, itemId);")
                  : Html.Raw(@"window.location = '" + System.Web.Compilation.AppSettingsExpressionBuilder.GetAppSetting("CallcenterURL") + @"?' + basket + (itemId ? '&item_id='+itemId : '') + '&action=';"));
    }

    function filterTimeSlots() {
        var delivery = $('#@Html.IdFor(m => m.Order.DeliveryType)').val();
        var city = $('#@Html.IdFor(m => m.Order.City)  option:selected').text();
        $('#OrderDeliveryTimeSlot').children().each(function() {
            var tsDelivery = $(this).attr('data-delivery').split(',');
            var tsCity = $(this).attr('data-city').split(',');
            if ((tsDelivery[0] != "" && $.inArray(delivery, tsDelivery) == -1) ||
                (tsCity[0] != "" && $.inArray(city, tsCity) == -1)) {
                $(this).removeAttr('selected');
                $(this).prop('disabled', 'disabled');
                $(this).css("background-color", '#ffc0cb');
            } else {
                $(this).removeAttr('disabled');
                $(this).css("background-color", "");
            }
        });        
    }

    @*function filterPickupPoints() {
        $('#@Html.IdFor(m => m.Order.PickupPointId)').children().each(function() {
            var category = $('input[name="Order.itemCategory"]:checked').val();

            if (($(this).is('[data-limitcash!="0"]') && $(this).attr('data-limitcash') < discountTotalSumm) ||
            (cashOnDelivery == "1" && category == "КБТ" && $(this).is('[data-prepayment="True"]')) ||
            (category == "КБТ" && $(this).is('[data-bigitemrejected="True"]')) ||
            (category == "СБТ" && ($(this).is('[data-bigitemrejected="True"]') || ($(this).is('[data-meditemrejected="True"]'))))) {
                $(this).removeAttr('selected');
                $(this).prop('disabled', 'disabled');
                $(this).css("background-color", '#ffc0cb');
            } else {
                $(this).removeAttr('disabled');
                $(this).css("background-color", "");
            }
        });
    }*@
</script>
    <script type="text" id="dadata-template">
        <div class="dadata-template">
            <ul class="param-list">
                <li class="city">
                    <label>Город</label>
                    <p></p>
                </li>
                <li class="street">
                    <label>Улица</label>
                    <p></p>
                </li>
                <li class="house">
                    <label>Дом</label>
                    <p></p>
                </li>
                <li class="building">
                    <label>Строение</label>
                    <p></p>
                </li>
                <li class="flat">
                    <label>Квартира</label>
                    <p></p>
                </li>
            </ul>
            <ul class="buttons">
                <li>
                    <a class="dadata-template-check">Tab: Применить</a>
                </li>
            </ul>
        </div>
    </script>
}
@{
    if (messages != null && messages.Any())
    {
        foreach (var message in messages)
        {
            @Html.ExtenstionErrorMessage(message)
        }
    }
    Html.BeginForm("Index", "Orders", FormMethod.Post, new {@class = "form-horizontal", style = "padding-left:10px", id = formId, autocomplete = "off"});
    Html.ValidationMessageFor(m => m.Order);
    Html.ValidationSummary(true);
}
    <fieldset>
        <legend>@HttpUtility.HtmlEncode(Model.Header)</legend>
        @Html.EditorFor(m => m.Order)
    </fieldset>
    <hr/>
<ul class="ui-buttonset" style="padding: 0; margin: 0;">
    <li class="ui-button ui-button-text ui-button-text-only">
        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" id="save" name="save" value="true">
            <span class="ui-button-text">Сохранить</span>
        </button>
    </li>
</ul>
    @{
        <script type="text/javascript">
            //$.validator.setDefaults({
            //    showErrors: function (validator, errorMap, errorList) {
            //        this.defaultShowErrors();
            //        if (errorMap.length) {
            //            var dialog = $(document.createElement('div'));
            //            $('body').append(dialog);
            //            for (var i = 0; i < errorMap.length; i++) {
            //                if (i)
            //                    dialog.append(document.createElement('br'));
            //                dialog.append(errorMap[i].element.labels[0].innerText + ': ' + errorMap[i].message);
            //            }
            //            this.dialog = dialog.dialog({
            //                buttons: { 'Закрыть': function () { $(this).dialog('close');
            //                    $(document).remove($(this));
            //                } },
            //                heigth: '200px',
            //                width: '470px',
            //                resizable: false
            //        });
            //        }
            //    }
            //});

            $('iframe').contents().find('html').hide();
            var form = $('iframe').contents().find('form')[0];
            if (form)
                form.submit();
        </script>
        Html.EnableClientValidation();
        Html.EndForm();
    }
