<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        var approot = '@Request.ApplicationPath';
    </script>
    <script src='@Url.Content("~/Scripts/picnet.table.filter.min.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/routeLinks.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/base.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/message.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/gridView.js")'></script>

    @Scripts.Render("~/bundles/dialogs")

    @Styles.Render("~/Content/css")
    @RenderSection("scripts", false)
</head>
<body>
    <div class="container-fluid wrapper">
        <div class="header">
            @Html.Action("GetHeader", "Account")
        </div>  
        @RenderBody()
        <div class="push"></div>
    </div>
    <div class="footer">
        <div class="padding-wrapper">
            <p>&copy; @DateTime.Now.Year - Media Markt</p>
        </div>
    </div>
</body>
</html>