<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    <script type="text/javascript">
        var approot = '@Request.ApplicationPath';
    </script>
    @RenderSection("scripts", false)
</head>
<body>
    <div class="container-fluid wrapper">  
        @RenderBody()
        <div class="push"></div>
    </div>
    <div class="footer">
        <div class="padding-wrapper">
            <p>&copy; @DateTime.Now.Year - Media Markt</p>
        </div>
    </div>
</body>
</html>