﻿@using TicketTool.Projects.OrderForm.Common
@{
    ViewBag.Title = "Index";
}
@model TicketTool.Projects.Data.Model.CustomerOrder
<div style="min-width:450px;">
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal mainForm" }))
{
    <fieldset>
        <h4>Корзина</h4>
        @if (!Model.HasArticles)
        {
            <p class="errorText">Пожалуйста, добавьте хотя бы один артикул</p>
        }       
        else
        {
            if (!Model.IsApproved)
            {
                <p class="errorText">В артикульный состав заказа были внесены изменения. Пожалуйста, перепроверьте артикульные данные.</p>
            }
            if (Model.AllArticles.Any(m => m.IsWrong || m.IsDataWrong))
            {
                <p class="errorText">Пожалуйста, проверьте проблемные позиции</p>
            } 
        }
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Позиция</td>
                    <td>Артикул</td>
                    <td>Наименование</td>
                    <td>Количество</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForCollection(m => m.BasketArticles)
                <tr>
                    <td colspan="3"></td>
                    <td style="font-weight: bold;">Итого</td>
                    <td style="font-weight: bold;">@Html.DisplayFor(m => m.TotalPrice) руб.</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        @if (!String.IsNullOrEmpty(Model.WwsOrderId))
        {
            <h4>Резерв @Model.WwsOrderId</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Позиция</td>
                        <td>Артикул</td>
                        <td>Наименование</td>
                        <td>Количество</td>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorForCollection(m => m.ReserveLines)
                    <tr>
                        <td colspan="3"></td>
                        <td style="font-weight: bold;">Итого</td>
                        <td style="font-weight: bold;">@Html.DisplayFor(m => m.TotalReservePrice) руб.</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        }
        @Html.DisplayFor(m => m.PickupInfo)
        @Html.DisplayFor(m => m.Customer)
    </fieldset>
}
</div>