﻿html, body {
    height:100%;
    color: black;
}
.ui-accordion .ui-accordion-content {
    padding: 1em 1em;
}
.ui-datepicker-trigger {
    float:left;
    margin-left: 10px;
    margin-top: 6px;
}
.contentColumn {
    padding: 0px;
    height:100%;
    border: 3px solid white; 
    vertical-align: top; 
}
.contentColumn.right {
    font-family: Verdana, Arial;
    background-color:#CDDDFE;
}
#orderFrame {
    display: block; 
    width: 100%; 
    height: 100%; 
    border: none;
}
.timespanField.first {
    width:100px;
    margin-right:10px;
}
.timespanField.second {
    width:120px;
    margin-right:10px;
}
.timespanField.third {
    width:120px;
}
.dropdownField {
    width:300px; 
    font-size:13px;
}
.fieldDescription {
    padding-top: 5px;
    width:130px;
    padding-right: 10px;
    float:left;
    font-size:12px;
}
.fieldValue {
    float:left;
    min-width:150px;
}
.textField {
    float:left;
}
.fieldBlock {
    overflow:hidden;
    margin-bottom: 10px;
    min-width: 500px;
}
.outcomeName {
    font-weight: bold;
    color:black;
}
.taskDescription {
    background-color: white;
    padding: 2px;
    margin: 10px 5px;
    font-size:16px;
    word-wrap: break-word;
}
/*.outcomeBlock.ui-accordion-content {
    height: auto;
}*/