﻿.content {
    min-width: 800px;
    padding: 5px;
}
/*.inline {
    display: inline-block;
  *display: inline;
  *zoom: 1;
}*/

.customLink {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.loginHeader {
    text-align: right;
    padding: 5px 5px;
}

/* tableSorter */

table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

/* */

#loginUserDialog {
    padding: 5px;
    height: 100px;
    width: 250px;
}
#loginUserDialog fieldset span.label {
    width: 70px;
    margin-top: 5px;
    margin-right: 5px;
    float:left;
}
#loginUserDialog input {
    width: 100px;
}