﻿
table tr.hover td {
    background-color: #8dbdd8 !important;
}
table tr.selected td {
    background-color: #63AADA !important;
}
table tr.shadedSelected td {
    background-color: #D7E9F5 !important;
}
.skillDeleteLink {
   width:20px;
   cursor: pointer;
}
.skillEditLink {
   width:20px;
   cursor: pointer;
}