﻿@model DateTime?
@{
    var offset = Convert.ToInt32(System.Web.Compilation.AppSettingsExpressionBuilder.GetAppSetting("MedvedevTime"));
}

<div class="controls" style="padding-bottom: 5px;">
    <input type="text" name="@(Html.NameForModel())_date" id="@(Html.IdForModel())_date" value="@((Model ?? DateTime.Now).Date.ToString("dd.MM.yyyy"))"/>       
    <span style="position: absolute;font-size: 0.7em;color:#8B8B8B;padding-top: 5px;padding-left: 9px;">
        <i class="ui-icon ui-blue ui-icon-info" style="position: absolute;margin-top: 2px;"></i>
        <span style="margin-left: 20px;">&uarr;&nbsp;&nbsp;&darr;  &plusmn; 1 час</span>
    </span>
    <input type="hidden" name="@(Html.NameForModel())" id="@Html.IdForModel()" value="@(Model ?? DateTime.Now)"/>
    <br/>
    @Html.ValidationMessageFor(m => m)
</div>