﻿@using System.Globalization
@using Zzt.Web.MVC.Extensions
@using Zzt.Web.MVC.Models
@model CustomerOrder

<div class="ui-widget">
    <h4>@HttpUtility.HtmlEncode(Model.Header)</h4>
        @Html.HiddenFor(m => m.OrderDiscount)        
    @if (!string.IsNullOrEmpty(Model.OrderId))
    {
        <div class="control-group">
            @Html.LabelFor(m => m.OrderId, new { @class = "control-label" })
            <div class="controls">
                @Html.LabelFor(m => m.OrderId, Model.OrderId, new { style = "padding-top: 5px;" })
                @Html.HiddenFor(m => m.OrderId)
            </div>
        </div>
    }
    @if(!string.IsNullOrEmpty(Model.OriginalOrderId))
    {
        <div class="control-group">
            @Html.LabelFor(m => m.OriginalOrderId, new {@class = "control-label"})
            <div class="controls">
                @Html.LabelFor(m => m.OriginalOrderId, Model.OriginalOrderId, new {style = "padding-top: 5px;"})
                @Html.HiddenFor(m => m.OriginalOrderId)
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.OrderSource))
    {
        <div class="control-group">
            @Html.LabelFor(m => m.OrderSource, new { @class = "control-label" })
            <div class="controls">
                @Html.LabelFor(m => m.OrderSource, Model.OrderSource, new { style = "padding-top: 5px;" })
            </div>
        </div>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <td>#</td>
                <td>Артикул</td>
                <td style="max-width: 300px">Наименование</td>
                <td style="width: 80px">Кол-во</td>
                <td>Цена (руб.)</td>
                <td>Скидка</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @Html.EditorForCollection(m => m.OrderLines)
            @if (Model.OrderLines.Count > 0)
            {
                <tr>
                    <td colspan="3"></td>
                    <td>@Html.LabelFor(m => m.TotalSummText)</td>
                    <td>@Html.DisplayFor(m => m.TotalSummText)</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td>@Html.LabelFor(m => m.DiscountTotalSummText)</td>
                    <td>@Html.DisplayFor(m => m.DiscountTotalSummText)</td>
                    <td colspan="2"></td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick="addNewLine()">
        <span class="ui-button-text" style="display: inline-block;">Добавить товар</span>
    </button>
    @Html.ValidationMessageFor(m => m.OrderLines)
    <hr/>
    
    
    <div class="control-group">
        @Html.LabelFor(m => m.DeliveryType, new {@class="control-label"})
        <div class="controls">
            @Html.DropDownListFor(m => m.DeliveryType, Model.DeliveryTypeList)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.DeliveryPrice, new {@class="control-label"})
        <div class="controls">
            @Html.TextBoxFor(m => m.DeliveryPrice)
            @Html.ValidationMessageFor(m => m.DeliveryPrice)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.NeedLiftToFloor, new { @class = "control-label" })
        <div class="controls">
            <div class="input-checkbox">
                @Html.CheckBoxFor(m => m.NeedLiftToFloor)
            </div>           
        </div>
    </div>
    <div id="LiftToFloorForm">
        <div class="control-group">
            @Html.LabelFor(m => m.FloorTax, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.FloorTax)
                @Html.ValidationMessageFor(m => m.FloorTax)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Floor, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Floor)
                @Html.ValidationMessageFor(m => m.Floor)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.HasServiceLift, new { @class = "control-label" })
            <div class="controls">
                @Html.CheckBoxFor(m => m.HasServiceLift)
                @Html.ValidationMessageFor(m => m.HasServiceLift)
            </div>
        </div>
    </div>
    @if (Model.OrderDiscount != 0)
    {
        <div class="control-group">
            @Html.LabelFor(m => m.DiscountCardNo, new {@class = "control-label"})
            <div class="controls">
                @Html.LabelFor(m => m.DiscountCardNo, Model.DiscountCardNo, new {style = "padding-top: 5px;"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.DiscountCardType, new {@class = "control-label"})
            <div class="controls">
                @Html.LabelFor(m => m.DiscountCardType, Model.DiscountCardType, new {style = "padding-top: 5px;"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.OrderDiscountText, new {@class = "control-label"})
            <div class="controls">
                @Html.LabelFor(m => m.OrderDiscountText, Model.OrderDiscountText, new {style = "padding-top: 5px;"})
            </div>
        </div>
    }
    <div class="control-group">
        <label class="control-label">Общая цена заказа</label>
        <div class="controls">
            @Html.TextBox(ViewBag.TotalSummId as string, Math.Round(Model.DiscountTotalSumm + Model.DeliveryPrice + Model.FloorTax, 0), new { disabled = "disabled" })
            @Html.HiddenFor(m => m.DiscountTotalSumm)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.PaymentTypeLabel, new {@class="control-label"})
        <div class="controls">
            @Html.LabelFor(m => m.PaymentTypeLabel, Model.PaymentTypeLabel.NameRu, new { style = "padding-top: 5px;" })
            @Html.HiddenFor(m => m.PaymentTypeLabel.Id)
            @Html.HiddenFor(m => m.PaymentTypeLabel.Code)
            @Html.HiddenFor(m => m.PaymentTypeLabel.Name)
            @Html.HiddenFor(m => m.PaymentTypeLabel.NameRu)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.SystemCommentNew, new {@class = "control-label"})
        <div class="controls">
            @Html.TextAreaFor(m => m.SystemCommentNew)
            @Html.ValidationMessageFor(m => m.SystemCommentNew)
        </div>
        @Html.HiddenFor(m => m.SystemComment)
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.CustomerComment, new {@class = "control-label"})
        <div class="controls">
            @Html.TextAreaFor(m => m.CustomerComment)
            @Html.ValidationMessageFor(m => m.CustomerComment)
        </div>
    </div>
    @Html.DisplayForCollection(m => m.OrderStatusHistory)
    @Html.DisplayFor(m => m.OrderStatusHistory, "OrderStatusHistory")
    <fieldset>
        <legend>@Html.Encode("Заказчик")</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
            <i class="img-icon ui-red ui-icon ui-icon-notice" title="Обязательное поле"></i>
            <div class="controls">
                @Html.TextBoxFor(m => m.FullName)
                @Html.ValidationMessageFor(m => m.FullName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.IsReceiverNotCustomer, new { @class = "control-label" })
            <div class="controls">
                <div class="input-checkbox">
                    @Html.CheckBoxFor(m => m.IsReceiverNotCustomer)
                </div>
                @Html.TextBoxFor(m => m.RecepientName)
                @Html.ValidationMessageFor(m => m.RecepientName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Email, new { @type = "email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
            <i class="img-icon ui-red ui-icon ui-icon-notice" title="Обязательное поле"></i>
            <div class="controls">
                @Html.TextBoxFor(m => m.Phone)
                @Html.ValidationMessageFor(m => m.Phone)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.HasSecondPhone, new { @class = "control-label" })
            <div class="controls">
                <div class="input-checkbox">
                    @Html.CheckBoxFor(m => m.HasSecondPhone)
                </div>
                @Html.TextBoxFor(m => m.OptionalPhones)
                @Html.ValidationMessageFor(m => m.OptionalPhones)
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>@Html.Encode("Параметры доставки")</legend>

        <div class="control-group">
            @Html.LabelForModel("Дата доставки", new { @class = "control-label", @for = Html.IdFor(m => m.ProposedDeliveryFrom) })
            <i class="img-icon ui-red ui-icon ui-icon-notice" title="Обязательное поле"></i>
            <div class="controls">
                @Html.EditorFor(m => m.ProposedDeliveryFrom, new { @class = "short-label" })
                @*@Html.HiddenFor(m => m.ProposedDeliveryTo, new { @class = "short-label" })*@
                @*@Html.DropDownListFor(m => m.PropesedDeliveryFromHours, Model.TimeSlotList)*@
                <select name="OrderDeliveryTimeSlot" id="OrderDeliveryTimeSlot">
                    @foreach (var ts in Model.TimeSlots)
                    {
                        <option value="@String.Concat(ts.From, ts.To)" 
                                data-from="@ts.From" 
                                data-to="@ts.To" 
                                data-delivery="@(ts.DeliveryTypes != null ? String.Join(",", ts.DeliveryTypes) : String.Empty)" 
                                data-city="@(ts.Locations != null ? String.Join(",", ts.Locations) : String.Empty)"
                                @(Model.PropesedDeliveryFromHours == ts.From && Model.ProposedDeliveryToHours == ts.To ? "selected='selected'" : String.Empty)>
                            @String.Format("{0} — {1}", ts.From, ts.To)
                        </option>
                    }
                </select>
                @Html.HiddenFor(m => m.PropesedDeliveryFromHours)
                @Html.HiddenFor(m => m.ProposedDeliveryToHours)
            </div>
        </div>
        @Html.HiddenFor(m => m.ExpectedDeliveryFrom)
        @Html.HiddenFor(m => m.ExpectedDeliveryTo)
        <div class="control-group" style="background-color: lightyellow;">
            @Html.LabelFor(m => m.Address, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Address, new { style = "background-color: lightyellow;" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.City, new {@class = "control-label"})
            <div class="controls">
                @Html.DropDownListFor(m => m.City, Model.CitySelectList)
                @Html.ValidationMessageFor(m => m.City)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.PickupPointId, new {@class="control-label"})
            <div class="controls">
                @Html.DropDownListFor(m => m.PickupPointId, new []{new SelectListItem
                {
                    Selected = !String.IsNullOrEmpty(Model.PickupPointId),
                    Text = Model.PickupPointName,
                    Value = Model.PickupPointId
                }})
            </div>
            <div class="control-group">
                <label class="control-label">Адрес точки самовывоза</label>
                <div class="controls" id="ext-address">
                </div>
            </div>
        </div>

        <div class="control-group" id="@(Html.IdForModel() + "-additional_address_params")">
            <ul class="controls">
                <li>
                    @Html.LabelFor(m => m.Street, new { @class = "address-label" })
                    <i class="img-icon ui-red ui-icon ui-icon-notice" title="Обязательное поле"></i>
                    @Html.ValidationMessageFor(m => m.Street)
                    <br />
                    @Html.TextBoxFor(m => m.Street, new { @style = "width: 196px;" })
                </li>
                <li>
                    @Html.LabelFor(m => m.House, new { @class = "address-label" })
                    <i class="img-icon ui-red ui-icon ui-icon-notice" title="Обязательное поле"></i>
                    @Html.ValidationMessageFor(m => m.House)
                    <br />
                    @Html.TextBoxFor(m => m.House, new { @class = "short-label" })
                </li>
            </ul>
            <div class="control-label">
                <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text" id="@Html.IdFor(m => m.Address)_CheckBtn">
                    <span class="ui-button-text" style="padding: 4px;">Проверить адрес</span>
                </button>
            </div>
            <ul class="controls">
                <li>
                    @Html.LabelFor(m => m.Housing, new { @class = "address-label" })
                    @Html.ValidationMessageFor(m => m.Housing)
                    <br />
                    @Html.TextBoxFor(m => m.Housing, new { @class = "short-label" })
                </li>
                <li>
                    @Html.LabelFor(m => m.Building, new { @class = "address-label" })
                    @Html.ValidationMessageFor(m => m.Building)
                    <br />
                    @Html.TextBoxFor(m => m.Building, new { @class = "short-label" })
                </li>
                <li>
                    @Html.LabelFor(m => m.Flat, new { @class = "address-label" })
                    @Html.ValidationMessageFor(m => m.Flat)
                    <br />
                    @Html.TextBoxFor(m => m.Flat, new { @class = "short-label" })
                </li>
            </ul>
            <ul class="controls">
                <li>
                    @Html.LabelFor(m => m.Entrance, new { @class = "address-label" })
                    @Html.ValidationMessageFor(m => m.Entrance)
                    <br />
                    @Html.TextBoxFor(m => m.Entrance, new { @class = "short-label" })
                </li>
                <li>
                    @Html.LabelFor(m => m.EntranceCode, new { @class = "address-label" })
                    @Html.ValidationMessageFor(m => m.EntranceCode)
                    <br />
                    @Html.TextBoxFor(m => m.EntranceCode, new { @class = "short-label" })
                </li>
            </ul>
            <div class="control-group">
                @Html.LabelFor(m => m.SubwayStationName, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(m => m.SubwayStationId, new SelectListItem[0])
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.AddressComment, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(m => m.AddressComment)
                    @Html.ValidationMessageFor(m => m.AddressComment)
                </div>
            </div>
        </div>
    </fieldset>
</div>