﻿@model Zzt.Web.MVC.Models.OrderLine

@{
    var index = (ViewData["index"] as int?) ?? 0;
    index++;
}

<tr>
    <td>
        @(index)
    </td>
    <td>
        <a href="#" onclick="addNewLine('@Model.ArticleNo')">@Html.DisplayFor(m => m.ArticleNo, new {@class = "control-label"})</a>
        @Html.ValidationMessageFor(m => m.ArticleNo)
        <br/>
        @Html.HiddenFor(m => m.ArticleNo)
        <br/>
        <br/>
        @if (!string.IsNullOrEmpty(Model.UmaxStatus))
        {
            @Html.LabelFor(m => m.UmaxStatus)
            @Html.Label("m => m.UmaxStatus", Model.UmaxStatus.ToLowerInvariant())
            @Html.HiddenFor(m => m.UmaxStatus)
        }
        <br/>
        @if (Model.LongTail)
        {
            @Html.LabelFor(m => m.LongTail)
        }
        @Html.HiddenFor(m => m.LongTail)
    </td>
    <td>
        <a href="#" onclick=" addNewLine('@Model.ArticleNo') ">@Html.DisplayFor(m => m.ArticleTitle, new { @class = "control-label" })</a>
        @Html.HiddenFor(m => m.ArticleTitle)
    </td>
    <td>
        <i class="img-icon ui-button ui-red ui-icon ui-icon-minusthick" itemref="@Url.Action("LineDec", "Orders", new {position = index - 1})"></i>
        @Html.DisplayFor(m => m.Quantity, new {@class = "control-label"})
        <i class="img-icon ui-button ui-blue ui-icon ui-icon-plusthick" itemref="@Url.Action("LineAdd", "Orders", new {position = index - 1})"></i>
        @Html.ValidationMessageFor(m => m.Quantity)
        <input type="hidden" id="@Html.IdFor(m => m.Quantity)" name="@Html.NameFor(m => m.Quantity)" value="@Model.Quantity"/>
    </td>
    <td>
        @Html.DisplayFor(m => m.PriceText)
        @Html.HiddenFor(m => m.Price)
    </td>
    <td>
        @Html.DisplayFor(m => m.DiscountPercentageText)
        @Html.HiddenFor(m => m.DiscountPercentage)
    </td>
    <td>
        <i class="img-icon ui-button ui-blue ui-icon ui-icon-trash" itemref="@Url.Action("LineDel", "Orders", new {position = index - 1})"></i>
    </td>
</tr>