﻿
@section scripts{
    <link href="@Url.Content("~/Content/TaskTypes.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/custom/taskTypes.js")" type="text/javascript"></script>
}

@model TicketTool.Web.Models.TaskTypesData
@Html.Hidden("returnUrl", Url.Action("Index","TaskTypes"))
@{
    var user = HttpContext.Current.User;
}
@if (user != null && user.Identity.IsAuthenticated)
{
    <div class="container-fluid">
    <span style="padding-right: 10px;font-size: 18px;">Процесс:</span>@Html.DropDownList("processTypesList", new SelectList(
                  Model.Processes,
                  "Id",
                  "Name", Model.CurrentProcess), new { @class = "inline" })
  <div style="min-width:940px;">
        <div style="float:left; width:48%; padding-right:10px;">
            <div style="padding-bottom:10px;font-size: 18px;">Задачи</div>
            <div class="taskTypesContainer">
            @Html.Partial("TaskTypesControls/TaskTypesGrid", Model.TaskTypes)
            </div>
        </div>
        <div style="float:left; width:48%;">
            <div style="padding-bottom:10px;font-size: 18px;">Скилсеты<a style="float:right;" class="skillCreateLink">Создать</a></div>
        
            <div style="padding-bottom:10px;font-size: 18px;">Основной</div>
            <div class="baseSkillSets">
                @Html.Partial("TaskTypesControls/SkillSetsGrid", Model.BaseSkillSets)
            </div>
            <div style="padding-bottom:10px;font-size: 18px;">Эскалации</div>
            <div class="escalatedSkillSets">
                @Html.Partial("TaskTypesControls/SkillSetsGrid", Model.EscalatedSkillSets)
            </div>
        </div>
        </div>
    </div>
    <div style="display:none;"> 
        @Html.Partial("Dialogs/SkillSetForm")
        @Html.Partial("Dialogs/SkillSetDelete")
        @Html.Partial("Dialogs/TaskForm")
    </div>
}