﻿html, body {
height: 100%;
min-width:200px;
}
.field-validation-error {
    color: red;
}
.headerBlock {
    background-color: #7ac0da;
    padding: 20px;
    margin-bottom: 10px;
}
.control-group.display {
    margin-bottom: 0px;
}
.control-group.display.bordered {
    border-bottom: 1px solid gray;
}
.dxeEditArea_DevEx.dxeEditAreaSys {
    width:90%;
}
.ui-datepicker-trigger {
    margin-left: 10px;
}
.control-group.display .controls {
    padding-top: 5px;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin-bottom: -80px;
}
.footer, .push {
height: 80px;
clear: both;
text-align: center;
font-size: .8em;
}
.footer {
background-color: #e2e2e2;
}
.padding-wrapper {
    padding: 10px;
}
.customLink {
    cursor:pointer;
    text-decoration: underline;
    color: black;
}
.header {
    background-color: #7ac0da;
}
.loginHeader {
    text-align: right;
    padding: 5px 5px;
}
.messageName {
    word-wrap: break-word;
    max-width: 200px;
}
.wordBreak {
    word-wrap: break-word;
}