﻿@{
    var user = HttpContext.Current.User;
}
@if (user == null || !user.Identity.IsAuthenticated)
{
    <div style="text-align:right;">
    <span class="loginUserLink customLink" style="padding:5px;">войти</span>
    </div>
}
else {
    <div class="loginHeader">
        <span>Добро пожаловать, @user.Identity.Name&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="customLink" href=@Url.Action("Logout", "Account", new { returnUrl = Request.Url.ToString()})>выйти</a></span>
    </div>
}
<div style="display:none;">
    @Html.Partial("Dialogs/Authorize")
</div>