﻿@{
    var user = HttpContext.Current.User;
}
@if (user == null || !user.Identity.IsAuthenticated)
{
    <div style="text-align:right;">
        <a class="javascriptLink customLink loginUserLink" href="@Url.Action("Index", "Account", new { returnPath = Request.Url.ToString() })"  style="padding:5px;">войти</a>
    </div>
}
else {
    <div class="loginHeader">
        <span>Добро пожаловать, @user.Identity.Name&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="customLink" href=@Url.Action("Logout", "Account", new { returnPath = Request.Url.ToString()})>выйти</a></span>
    </div>
}
<div style="display:none;">
@Html.Partial("Dialogs/Authorize")
</div>