﻿@model LoginModel

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h3 style="padding-left: 5px;">Пожалуйста, заполните форму</h3>
        <div id="loginUserDialog" title="Login user">
            @using(Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-horizontal", @style = "padding:10px 0px;"}))
            {                
                <fieldset>
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m=>m.ReturnUrl)                    
                    <div class="control-group">                        
                        @Html.LabelFor(m=>m.Name, new {@class = "control-label"})                                                
                        <div class="controls">
                            @Html.EditorFor(m=>m.Name)
                            @Html.ValidationMessageFor(m=>m.Name)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m=>m.Password, new {@class = "control-label"})                        
                        
                        <div class="controls">
                            @Html.EditorFor(m=>m.Password)  
                            @Html.ValidationMessageFor(m=>m.Password)
                        </div>
                    </div>
                </fieldset>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="Login" value="Войти"/>
                    </div>
                </div>
            }
        </div>
    </body>
</html>