﻿@{
    ViewBag.Title = "Ticket Tool";
}
<div class="page-content">
    <div class="content-right">
        <div id="right_box" class="right-box"></div>
    </div>
    <div class="content-left">
        <iframe src="about:blank" id="orderFrame" name="orderFrame"></iframe>
    </div>
</div>
<script type="text/javascript">
    var TicketTool;
    (function (TicketTool) {
        TicketTool.Settings = {
            Root: '@Request.ApplicationPath',
            PingInterval: @ViewData["PingInterval"]
        }
    })(TicketTool || (TicketTool = {}));
</script>
@Scripts.Render("~/bundles/tickettool")
