﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h3 style="padding-left:5px;">Пожалуйста, заполните форму</h3>
    @Html.Partial("Dialogs/Authorize")
</body>
</html>