<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>admin</title>
    <script type="text/javascript">
        var approot = '@Request.ApplicationPath';
    </script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom/routeLinks.js")" type="text/javascript"></script>
    
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    @RenderSection("scripts", false)
</head>
<body>
    <div class="header">
        @Html.Action("GetHeader", "Account")
    </div>
    <div class="content inline">
        @RenderBody()
    </div>
</body>
</html>