<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        var approot = '@Request.ApplicationPath';
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="@Url.Content("~/Scripts/custom/base.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom/routeLinks.js")" type="text/javascript"></script>
    
    @Styles.Render("~/Content/css")
    @RenderSection("scripts", false)
    @Scripts.Render("~/bundles/dialogs")
</head>
<body>
    <div class="header">
        @Html.Action("GetHeader", "Account")
    </div>
    <div class="content inline">
        @RenderBody()
    </div>
</body>
</html>