@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        var approot = '@Request.ApplicationPath';
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="@Url.Content("~/Scripts/custom/base.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom/routeLinks.js")" type="text/javascript"></script>
    
    @Styles.Render("~/Content/css")
    @RenderSection("scripts", false)
    @Scripts.Render("~/bundles/dialogs")
    <link href="@Url.Content("~/Content/simple.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <table style="table-layout:fixed; width: 100%; height: 100%; min-width:500px;">
        <tr>
            <td class="contentColumn" style="width: @ConfigurationManager.AppSettings["LeftFormWidth"]">
                <iframe src="@Url.Action("BlankPage", "Simple")" id="orderFrame" name="orderFrame"></iframe>
            </td>
            <td class="contentColumn right"> 
                <div class="header" style="font-size: 11px; ">
                    @Html.Action("GetHeader", "Account")
                </div>
                <div class="content inline">
                    @RenderBody()
                </div>
            </td>
        </tr>
    </table>
</body>
</html>