﻿.page-header {
    margin: 0;
    padding: 0;
}

/*.page-content {
    background-color: #f9f9f9;
}*/

.content-right {
    overflow: auto;
}

.right-box .skillsets-selected .basket-options {
    padding: 25px 30px 5px 30px;
}
/*.right-box {
    background-color: #dee0e3;
}*/

.tt-container {
    height: 100%;
}
/*.right-box .skillsets {
    padding: 25px;
    background-color: #f9f9f9;
}*/
.right-box .skillsets-selection .padding {
    padding-bottom: 90px;
}

.right-box .skillsets-selection .selected ul.skillsets-select > li a.skillsets-call-center span {
    color: #ff0099;
    font-size: 12px;
}

.right-box .skillsets-selection .selected ul.skillsets-select > li a.skillsets-escalation span {
    color: #1e88e5;
    font-size: 12px;
}

.right-box .skillsets-selected .selected ul.skillsets-select > li a.skillsets-call-center span {
    color: #ff0099;
    font-size: 12px;
}

.right-box .skillsets-selected .selected ul.skillsets-select > li a.skillsets-escalation span {
    color: #1e88e5;
    font-size: 12px;
}

.right-box .skillsets-selected .basket-options .basket-options-menu > li a .svg .right {
    display: block !important;
}

/*.right-box .padding {padding: 25px;}*/

.right-box .user-rejected .rejected-list > li label span {
    font-weight: normal;
}

.buttons button {display: block;width: 100%;height: auto;margin: 10px auto;font-size: 18px;color: #3A3B3E;text-align: left; padding: 10px 20px;border: 0;outline: 0;border-radius: 5px;background-color: #ffffff;box-shadow: 0 1px 2px rgba(0,0,0,0.15);cursor: pointer;}
.buttons button:hover {color: #ffffff;background-color: #ff0099;}
.buttons button:disabled {color: #3A3B3E;background-color: #eee;}

.body-content {
    margin-top: 50px;
}

.frame-container {
    top: 50px;
    left: 0;
    bottom: 0;
    right: 25%;
    position: fixed;
}

#orderFrame {
    width: 100%;
    height: 100%;
    border: none;
}

.tt-skill-set--name {
    background-color: #fff;
    background-image: url('cross.png');
    background-position: right 2px top 3px;
    background-repeat: no-repeat;
    border: 1px solid #999;
    border-radius: 20px;
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px 5px 5px 0;
    padding: 5px 10px 5px 10px;
}

.tt-skill-set--name__active {
    border: 1px solid #FF0099;
    color: #FF0099;
}

.tt-skill-set--name__escalation {
    border: 1px solid #1E88E5;
    color: #1E88E5;
}

.tt-task-time-green {
    background-color: #54B81B !important;
}

.tt-task-time-yellow {
    background-color: #F9A825 !important;
}

.tt-task-time-red {
    background-color: #E3000F !important;
}

.right-box .choice { margin: 15px 0 10px;padding: 10px 25px;background-color: #495565;}
.right-box .choice fieldset {border: 0;overflow: hidden;}
.right-box .choice fieldset label {display: block;width: 50%;float: left;margin: 5px 0;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #ffffff;}
.right-box .choice button {display: block;width: 120px;clear: both;margin: 10px 0 5px;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #495565;text-align: center;text-decoration: none;line-height: 30px;border: 0;outline: 0;border-radius: 3px;background-color: #ffffff;cursor: pointer;}

.right-box .skillsets-selection ul > li.logged a,
.right-box .skillsets-selection ul > li.logged a span {
    position: relative;
    color: #ff0099;
}
.right-box .skillsets-selection ul > li.logged a .svg .ico {
    fill: #ff0099;
}

.right-box .skillsets-selection ul > li.logged a.skillsets-escalation,
.right-box .skillsets-selection ul > li.logged a.skillsets-escalation span {
    position: relative;
    color: #1e88e5;
}
.right-box .skillsets-selection ul > li.logged a.skillsets-escalation .svg .ico,
.right-box .skillsets-selection ul > li.select a.skillsets-escalation .svg .ico,
.right-box .skillsets-selected ul > li.logged a.skillsets-escalation .svg .ico,
.right-box .skillsets-selected ul > li.select a.skillsets-escalation .svg .ico {
    fill: #1e88e5;
}

.form-checkbox {margin-right: 5px;cursor: pointer;}
.form-checkbox input {z-index: -10;position: absolute;visibility: hidden;}
.form-checkbox .svg {display: inline-block;vertical-align: text-bottom;width: 16px;height: 16px;}
.form-checkbox .svg .bg {display: block;fill: #ffffff;}
.form-checkbox .svg .brd {display: block;fill: #ff0099;}
.form-checkbox .svg .ico {display: none;}
.form-checkbox input:checked + .svg .bg {display: block;fill: #ff0099;}
.form-checkbox input:checked + .svg .ico {display: block;fill: #ffffff;}

.right-box .skillsets-selection .selected .clusters.show a:hover .clusters > li {
    color: #ff0099;
}
.right-box .skillsets-selection .selected .clusters.show > .select {
    position: relative;
}
.right-box .skillsets-selection .selected .clusters.show > .select > a:after {
    position: absolute;bottom: -17px;left: 0;right: 0;display: block;content: '';width: 0;height: 0;margin: 0 auto;border: solid transparent;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-bottom-color: #495565;border-width: 10px;
}

.right-box .skillsets-selection .selected .clusters.show .choice {z-index: 1;position: absolute;left: -25px;right: -25px;margin: 15px 0 0;padding: 10px 25px;background-color: #495565;}
.right-box .skillsets-selection .selected .clusters.show .choice fieldset {display:block; border: 0;overflow: hidden;}
.right-box .skillsets-selection .selected .clusters.show .choice fieldset label {display: block;width: 50%;float: left;margin: 5px 0;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #ffffff;}
.right-box .skillsets-selection .selected .clusters.show .choice button {display: block;width: 120px;clear: both;margin: 10px 0 5px;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #495565;text-align: center;text-decoration: none;line-height: 30px;border: 0;outline: 0;border-radius: 3px;background-color: #ffffff;cursor: pointer;}

.right-box .skillsets-selected .selected .clusters > li {
    border-color: #96999f;
}

/* Validation Errors */
.login form .validation-summary-errors ul {margin: 10px 0;padding: 0;list-style: none;}
.login form .validation-summary-errors ul > li {color: #e4101e;text-align: left;}

/* Disabled should be last */
.right-box .buttons button:disabled {color: #a4a9b3;background-color: #ffffff;cursor: default;}