﻿@using TicketTool.Projects.Avito.Models;
@model BoardMessageItem
@{
    Layout = "~/Views/Shared/_authorizedLayout.cshtml";
}
<div class="headerBlock">
    <h2>Удаление @Model.ExternalNumber</h2>
</div>
<a href="@Url.Action("Index", "BoardMessage")">вернуться</a>
@Html.Partial("Dialogs/CancelBoardMessage", Model.OrderId)