﻿@using TicketTool.Projects.Avito.Models;
@model BoardMessageItem
@{
    Layout = "~/Views/Shared/_authorizedLayout.cshtml";
}
<div class="headerBlock">
    <h2>Объявление @Model.ExternalNumber</h2>
</div>
<a href="@Url.Action("Index", "BoardMessage")">вернуться</a>
@if(!Model.IsCanceled)
{
    <div style="margin-top:30px;">
        <a href="@Url.Action("Edit", "BoardMessage", new { orderId = Model.OrderId })">редактировать</a>
    </div>
}
@Html.Partial("BoardMessageControls/DisplayForm", Model)