﻿@{
    Layout = "~/Views/Shared/_authorizedLayout.cshtml";
    var user = HttpContext.Current.User;
}
@section scripts{
    
    @Html.DevExpress().GetStyleSheets( 
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
            )
    @Html.DevExpress().GetScripts( 
        new Script { ExtensionSuite = ExtensionSuite.GridView }, 
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor }, 
        new Script { ExtensionSuite = ExtensionSuite.Editors }
            )
}
@Html.Hidden("returnUrl", Url.Action("Index", "BoardMessage"))
@if (user != null && user.Identity.IsAuthenticated)
{
    <div class="headerBlock">
        <h2>Объявления "Авито"</h2>
    </div>
    if (user.IsInRole("Admin") || user.IsInRole("AvitoManager"))
    {
        <a class="javascriptLink customLink createBoardMessageLink" href="@Url.Action("Create", "BoardMessage")">Создать объявление</a>
    }
    using (Html.BeginForm("Index", "BoardMessage", FormMethod.Post))
    {
        <div style="margin-top:20px;">
            <input type="button" class="javascriptLink" id="clearFilters" name="clearFilters" value="Очистить фильтры" />
           @* <noscript>
                <input type="submit" id="clearFiltersNoscript" name="submit" value="Очистить фильтры" />
            </noscript>*@
           <div style="margin:8px 0px 0px 0px;">
                @* <noscript>
                    <span>номер объявления</span>
                    @Html.TextBoxFor(m => m.SearchParams.NameParam, new { style="margin:0px 4px 0px 4px;"})
                </noscript>*@
                @*@Html.CheckBoxFor(m => m., new { style="margin:0px 4px 0px 8px;"})<span>скрыть отмененные</span> *@
                @* <noscript>
                    @Html.Hidden("SearchParams.IsEnabled", true)
                    <input type="submit" value="Поиск" style="margin:0px 0px 0px 4px;"/>
                </noscript>*@
            </div>
        </div>
        <div class="taskContainer" style="padding: 10px 0px;">
            @Html.Action("BoardMessageXGrid", "BoardMessageGrid")
        </div>
    }
    <div style="display:none;">
    @Html.Partial("Dialogs/CancelBoardMessage");
    @Html.Partial("Dialogs/ShowBoardMessage");
    @Html.Partial("Dialogs/EditBoardMessage");
    </div>
}
