﻿@model LoginModel

@{
    ViewBag.Title = "Вход в систему";
}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>

    <section id="loginForm">        
        @using(Html.BeginForm(new {ViewBag.ReturnUrl}))
        {
            @Html.HiddenFor(m => m.RememberMe)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Log in Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </li>
                    @*<li>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new {@class = "checkbox"})
                    </li>*@
                </ol>
                <input type="submit" value="Войти" />
            </fieldset>
        }
    </section>
</section>