﻿
@model TicketTool.Web.Models.StatisticsData
@{
    var user = HttpContext.Current.User;
}
@section scripts{
@if (user != null && user.Identity.IsAuthenticated)
{
    <script type="text/javascript">
        $(function() {
            setInterval(function() {
                refreshControl('@Url.Action("WorkSkillsetGridView", "Statistics")', 'workSkillsetContainer', true);
                refreshControl('@Url.Action("EscalatedSkillsetGridView", "Statistics")', 'escalatedSkillsetContainer', true);
                refreshControl('@Url.Action("StoresGridView", "Statistics")', 'storesContainer', true);
                refreshControl('@Url.Action("UsersTreeView", "Statistics")', 'usersContainer', true);
            }, 60 * 1000);
            $(".tablesorter").tablesorter();
            $(".tabControl").tabs();
        });
    </script>
}
}


@Html.Hidden("returnUrl", Url.Action("Index", "Statistics"))
@if (user != null && user.Identity.IsAuthenticated)
{
<div style="padding: 5px 0px;font-size: 18px;">Рабочие скилсеты:</div>
<div class="workSkillsetContainer">
    @Html.Partial("StatisticsControls/WorkSkillsetGridView", Model.WorkSkillSets)
</div>
<div style="padding: 35px 0px 5px 0px;font-size: 18px;">Эскалация:</div>
<div style="padding-bottom:35px;" class="escalatedSkillsetContainer">
    @Html.Partial("StatisticsControls/EscalatedSkillsetGridView", Model.EscalatedSkillSets)
</div>
<div class="tabControl inline">
    <ul>
        <li><a href="#tabs-1">Магазины</a></li>
        <li><a href="#tabs-2">Пользователи</a></li>
    </ul>
    <div id="tabs-1">
        <div class="storesContainer">
            @Html.Partial("StatisticsControls/StoresGridView", Model.StoreRealTimeStat)
        </div>
    </div>
    <div id="tabs-2">
        <div class="usersContainer">
            @Html.Partial("StatisticsControls/UsersTreeView", Model.UserLogStat)
        </div>
    </div>
</div>
}