@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,700|Roboto+Condensed:400,300,700&subset=latin,cyrillic-ext);

html,body {height: 100%;}

body {margin: 0;padding: 0;font-family: "Roboto", Arial, Helvetica, sans-serif;font-size: 12px;color: #3a3b3e;line-height: 1.7;-webkit-font-smoothing: antialiased;}

input, select, textarea, button {margin: 0;padding: 0;font-family: inherit;font-size: inherit;-webkit-font-smoothing: inherit;}

* {box-sizing: border-box;}
a {color: inherit;text-decoration: underline;}
a:hover {text-decoration: none;}
img {border: 0;}


/* wrapper */
@media all and (max-width: 1199px) {
    .page {position: absolute;}
    .popup {position: absolute;}
}
@media all and (min-width: 1200px) {
    .page {position: fixed;}
    .popup {position: fixed;}
}
.page {top: 0;bottom: 0;left: 0;right: 0;min-width: 1200px;min-height: 350px;}
.page-header {position: absolute;top: 0;left: 0;right: 0;}
.page-middle {position: absolute;top: 50px;bottom: 0;left: 0;right: 0;height: calc(100% - 50px);}
.page-content {height: 100%;}
.page-content:after {display: block;content: '';clear: both;}
.page-content > .content-right {float: right;width: 30%;height: 100%;}
.page-content > .content-left {float: left;width: 70%;height: 100%;}



/* global */
.cc-price {}
.cc-price .cc-price-format {}
.cc-price .cc-price-svg {width: 0.7em;height: 0.7em;margin-left: 0.1em;}
.cc-price .cc-price-svg .ruble {fill: rgba(58, 59, 62, 0.6);}

.form-checkbox {margin-right: 5px;cursor: pointer;}
.form-checkbox input {z-index: -10;position: absolute;visibility: hidden;}
.form-checkbox .svg {display: inline-block;vertical-align: text-bottom;width: 16px;height: 16px;}
.form-checkbox .svg .bg {display: block;fill: #ffffff;}
.form-checkbox .svg .brd {display: block;fill: #e2e2e2;}
.form-checkbox .svg .ico {display: none;}
.form-checkbox input:checked + .svg .bg {display: block;fill: #ff0099;}
.form-checkbox input:checked + .svg .brd {display: block;fill: #ff0099;}
.form-checkbox input:checked + .svg .ico {display: block;fill: #ffffff;}

.form-radio {margin-right: 5px;cursor: pointer;}
.form-radio input {z-index: -10;position: absolute;visibility: hidden;}
.form-radio .svg {display: inline-block;vertical-align: text-bottom;width: 16px;height: 16px;}
.form-radio .svg .bg {display: block;fill: #ffffff;}
.form-radio .svg .brd {display: block;fill: #e2e2e2;}
.form-radio .svg .ico {display: none;}
.form-radio input:checked + .svg .ico {display: block;fill: #ff0099;}

.scroll {position: relative;width: 100%;height: 100%;overflow: hidden;}
.scroll > .scroll-content {position: absolute;top: 0;right: 0;bottom: 0;left: 0;overflow: scroll;overflow-x: hidden;}
.scroll > .scroll-content:focus {outline: thin dotted;}
.scroll > .scroll-content::-webkit-scrollbar {display: none;}
.has-scrollbar > .scroll-content::-webkit-scrollbar {display: block;}
.scroll > .scroll-pane {position: absolute;right: 0;top: 2px;bottom: 2px;width: 9px;opacity: 0;-webkit-transition: 0.2s;-moz-transition: 0.2s;transition: 0.2s;}
.scroll > .scroll-pane > .scroll-slider {position: relative;margin: 0 2px;border-radius: 3px;background: rgba(0,0,0,.15);}
.scroll.scroll-show-bar > .scroll-pane {opacity: 1;}
.scroll > .scroll-pane.active > .scroll-slider {background: rgba(0,0,0,.5);}

.right-box .buttons button {color: #495565;background-color: #ffffff;cursor: pointer;}
.right-box .buttons button:disabled {color: #a4a9b3;background-color: #ffffff;cursor: default;}
.right-box .buttons button:hover {color: #ffffff;background-color: #ff0099;}
.right-box .buttons button:active {color: #ffffff;background-color: #ee008f;}




/* login */
.login {position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 500px;height: 450px;margin: auto;text-align: center;line-height: 1;}
.login .title {margin-top: -15%;font-size: 42px;font-weight: bold;color: #495565;}
.login .text {margin: 10px 0;font-size: 24px;font-weight: 300;color: #495565;}
.login .by {margin: 20px 0;font-size: 16px;color: rgba(74, 86, 103, 0.4);}
.login .logo {margin: 10px 0 40px;}
.login form {display: block;width: 400px;margin: auto;padding: 40px;border-radius: 15px;background-color: #f6f6f6;box-shadow: 0 1px 3px rgba(0,0,0,0.35);}
.login form label {display: block;margin-bottom: 35px;font-size: 17px;font-weight: 300;color: #495565;}
.login form input {display: block;width: 100%;margin: 10px 0;padding: 16px 20px;font-size: 14px;color: #495565;border: 1px solid #dddddd;border-radius: 0;outline: 0;background-color: #ffffff;}
.login form .errors {margin: 10px 0;padding: 0;list-style: none;}
.login form .errors > li {color: #e4101e;text-align: left;}
.login form button {display: block;width: 100%;height: 50px;margin-top: 25px;font-size: 14px;font-weight: 500;color: #ffffff;line-height: 50px;border: 0;outline: 0;border-radius: 5px;background-color: #ff0099;cursor: pointer;}
.login form button:hover {background-color: #ee008f;}
.login form button:disabled {color: #495565;background-color: #dddddd;cursor: default;}
.login .remember {width: 400px;margin: 10px auto 0;text-align: left;}
.login .remember a {color: #ff0099;text-decoration: none;}

/* header */
.header {position: relative;min-height: 50px;padding: 0 25px;background-color: #000000;}
.header:after {display: block;content: '';clear: both;}
.header .logo {position: relative;width: 25%;float: left;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 30px;font-weight: 700;color: #ffffff;line-height: 44px;}
.header .logo small {position: absolute;top: 18px;left: 5px;display: block;font-family: "Roboto", Arial, Helvetica, sans-serif;font-size: 10px;font-weight: 400;color: #cccccc;}
.header .user-menu {float: right;margin: 0 -25px 0 0;padding: 0;list-style: none;font-size: 0;}
.header .user-menu > li {display: inline-block;vertical-align: middle;}
.header .user-menu > li.user-name .svg {display: inline-block;vertical-align: middle;margin-right: 10px;}
.header .user-menu > li.user-name span {display: inline-block;vertical-align: middle;font-size: 12px;color: #ffffff;line-height: 1.1;}
.header .user-menu > li.user-exit a {display: inline-block;vertical-align: middle;width: 90px;margin: 10px 25px;font-size: 14px;color: #000000;text-align: center;text-decoration: none;line-height: 30px;border-radius: 3px;background-color: #f9a825;}
.header .user-menu > li.user-exit a:hover {background-color: #f59a07;}


/* right-box */
.right-box {height: 100%;background-color: #f9f9f9;}


/* right-box skillsets-selection */
.right-box .skillsets-selection {position: relative;}
.right-box .skillsets-selection .padding {padding: 25px;}
.right-box .skillsets-selection .selected {padding-bottom: 20px;border-bottom: 1px solid #d4d4d4;background-color: #f9f9f9;}
.right-box .skillsets-selection .selected .title {margin-bottom: 15px;font-size: 16px;font-weight: bold;color: #495565;}
.right-box .skillsets-selection .selected .title .plus {display: inline-block;vertical-align: middle;width: 16px;height: 16px;margin-left: 5px;text-decoration: none;}
.right-box .skillsets-selection .selected .title .plus .svg {display: block;}
.right-box .skillsets-selection .selected .title .plus .svg .plus {fill: #ff0099;}
.right-box .skillsets-selection .selected .title .plus .svg .minus {display: none;}
.right-box .skillsets-selection .selected .title .exit {display: block;float: right;margin-top: 7px;font-size: 10px;color: #495565;text-decoration: none;}
.right-box .skillsets-selection .selected .title .exit .svg {display: inline-block;vertical-align: middle;margin-left: 5px;}
.right-box .skillsets-selection .selected .title .exit .svg .ico {}
.right-box .skillsets-selection .selected ul.skillsets-select {margin: 0;padding: 0;list-style: none;font-size: 0;}
.right-box .skillsets-selection .selected ul.skillsets-select span {font-size: 14px;color: #a4a9b3;}
.right-box .skillsets-selection .selected ul.skillsets-select > li {display: inline-block;vertical-align: top;margin: 0 5px 5px 0;}
.right-box .skillsets-selection .selected ul.skillsets-select > li a {display: block;padding: 0 14px;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #96999f;line-height: 26px;text-decoration: none;border: 1px solid;border-radius: 20px;}
.right-box .skillsets-selection .selected ul.skillsets-select > li a .svg {display: inline-block;vertical-align: top;margin: 5px 5px 0 -5px;}
.right-box .skillsets-selection .selected ul.skillsets-select > li a .svg .ico {fill: #ff0099;}
.right-box .skillsets-selection .selected ul.skillsets-select > li a.skillsets-call-center {color: #ff0099;}
.right-box .skillsets-selection .selected ul.skillsets-select > li a.skillsets-escalation {color: #1e88e5;}
.right-box .skillsets-selection .selected ul.skillsets-select > li a.delete {padding: 0;}
.right-box .skillsets-selection .selected ul.skillsets-select > li a.delete .svg {margin: 5px;}
.right-box .skillsets-selection .selected ul.skillsets-select > li a.delete .svg .ico {fill: #96999f;}
.right-box .skillsets-selection .selected .clusters {display: none;margin: 0;padding: 0;list-style: none;font-size: 0;}
.right-box .skillsets-selection .selected .clusters fieldset {display: none;}
.right-box .skillsets-selection .selected .clusters .title {margin: 15px 0 5px;font-size: 12px;font-weight: 500;color: #495565;}
.right-box .skillsets-selection .selected .clusters > li {display: none;margin: 0 5px 5px 0;padding-right: 5px;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #96999f;line-height: 1;border-right: 1px solid;}
.right-box .skillsets-selection .selected .clusters > li:last-child {margin: 0;padding: 0;border: 0;}
.right-box .skillsets-selection .selected .clusters > li.select {display: inline-block;}
.right-box .skillsets-selection .selected .clusters.show {display: block;}
.right-box .skillsets-selection .selected .clusters.show > li {display: inline-block;}
.right-box .skillsets-selection .call-center {margin: 20px 0;}
.right-box .skillsets-selection .call-center .title {margin-bottom: 15px;font-size: 12px;font-weight: 500;color: #495565;}
.right-box .skillsets-selection .escalation {margin: 20px 0 0;}
.right-box .skillsets-selection .escalation .title {margin-bottom: 15px;font-size: 12px;font-weight: 500;color: #495565;}
.right-box .skillsets-selection .escalation ul.skillsets-list > li.select a {color: #1e88e5;}
.right-box .skillsets-selection ul.skillsets-list {position: relative;margin: 0;padding: 0;list-style: none;font-size: 0;}
.right-box .skillsets-selection ul.skillsets-list > li {display: inline-block;vertical-align: top;margin: 0 5px 5px 0;}
.right-box .skillsets-selection ul.skillsets-list > li a {display: block;padding: 0 14px;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #96999f;line-height: 26px;text-decoration: none;border: 1px solid;border-radius: 20px;}
.right-box .skillsets-selection ul.skillsets-list > li a .svg {display: inline-block;vertical-align: top;margin: 5px 5px 0 -5px;}
.right-box .skillsets-selection ul.skillsets-list > li a .svg .ico {fill: #96999f;}
.right-box .skillsets-selection ul.skillsets-list > li .choice {z-index: -10;position: absolute;left: -25px;right: -25px;margin: 15px 0 10px;padding: 10px 25px;background-color: #495565;}
.right-box .skillsets-selection ul.skillsets-list > li .choice fieldset {border: 0;overflow: hidden;}
.right-box .skillsets-selection ul.skillsets-list > li .choice fieldset label {display: block;width: 50%;float: left;margin: 5px 0;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #ffffff;}
.right-box .skillsets-selection ul.skillsets-list > li .choice button {display: block;width: 120px;clear: both;margin: 10px 0 5px;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #495565;text-align: center;text-decoration: none;line-height: 30px;border: 0;outline: 0;border-radius: 3px;background-color: #ffffff;cursor: pointer;}
.right-box .skillsets-selection ul.skillsets-list > li.select {}
.right-box .skillsets-selection ul.skillsets-list > li.select a {position: relative;color: #ff0099;}
.right-box .skillsets-selection ul.skillsets-list > li.select a .svg .ico {fill: #ff0099;}
.right-box .skillsets-selection ul.skillsets-list > li.select a:after {position: absolute;bottom: -17px;left: 0;right: 0;display: block;content: '';width: 0;height: 0;margin: 0 auto;border: solid transparent;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-bottom-color: #495565;border-width: 10px;}
.right-box .skillsets-selection ul.skillsets-list > li.select .choice {z-index: 0;}
.right-box .skillsets-selection .buttons {position: absolute;bottom: 0;left: 0;right: 0;height: 90px;padding-top: 10px;border-top: 1px solid #d4d4d4;background-color: #dee0e3;}
.right-box .skillsets-selection .buttons button {display: block;width: 80%;height: 50px;margin: 10px auto;font-size: 18px;text-align: center;text-decoration: none;border: 0;outline: 0;border-radius: 5px;box-shadow: 0 1px 2px rgba(0,0,0,0.15);}



/* right-box skillsets-selected */
.right-box .skillsets-selected {position: relative;background-color: #eeeeee;}
.right-box .skillsets-selected .padding {padding: 25px;}
.right-box .skillsets-selected .selected {margin: -25px -25px 0;padding: 25px;background-color: #f9f9f9;overflow: hidden;}
.right-box .skillsets-selected .selected .title {margin-bottom: 15px;font-size: 16px;font-weight: bold;color: #495565;}
.right-box .skillsets-selected .selected .title .plus {display: inline-block;vertical-align: middle;width: 16px;height: 16px;margin-left: 5px;text-decoration: none;}
.right-box .skillsets-selected .selected .title .plus .svg {display: block;}
.right-box .skillsets-selected .selected .title .plus .svg .plus {fill: #ff0099;}
.right-box .skillsets-selected .selected .title .plus .svg .minus {display: none;}
.right-box .skillsets-selected .selected .title .exit {display: block;float: right;margin-top: 7px;font-size: 10px;color: #495565;text-decoration: none;}
.right-box .skillsets-selected .selected .title .exit .svg {display: inline-block;vertical-align: middle;margin-left: 5px;}
.right-box .skillsets-selected .selected .title .exit .svg .ico {}
.right-box .skillsets-selected .selected ul.skillsets-select {margin: 0;padding: 0;list-style: none;font-size: 0;}
.right-box .skillsets-selected .selected ul.skillsets-select span {font-size: 14px;color: #a4a9b3;}
.right-box .skillsets-selected .selected ul.skillsets-select > li {display: inline-block;vertical-align: top;margin: 0 5px 5px 0;}
.right-box .skillsets-selected .selected ul.skillsets-select > li a {display: block;padding: 0 14px;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #96999f;line-height: 26px;text-decoration: none;border: 1px solid;border-radius: 20px;}
.right-box .skillsets-selected .selected ul.skillsets-select > li a .svg {display: inline-block;vertical-align: top;margin: 5px 5px 0 -5px;}
.right-box .skillsets-selected .selected ul.skillsets-select > li a .svg .ico {fill: #ff0099;}
.right-box .skillsets-selected .selected ul.skillsets-select > li a.skillsets-call-center {color: #ff0099;}
.right-box .skillsets-selected .selected ul.skillsets-select > li a.skillsets-escalation {color: #1e88e5;}
.right-box .skillsets-selected .selected ul.skillsets-select > li a.edit {padding: 0;}
.right-box .skillsets-selected .selected ul.skillsets-select > li a.edit .svg {margin: 5px;}
.right-box .skillsets-selected .selected ul.skillsets-select > li a.edit .svg .del {fill: #96999f;}
.right-box .skillsets-selected .selected ul.skillsets-select > li a .delete {display: none;}
.right-box .skillsets-selected .selected ul.skillsets-select.edit > li a.edit {border-color: #54b81b;background-color: #54b81b;}
.right-box .skillsets-selected .selected ul.skillsets-select.edit > li a.edit .svg {margin: 5px;}
.right-box .skillsets-selected .selected ul.skillsets-select.edit > li a.edit .svg .del {display: none;}
.right-box .skillsets-selected .selected ul.skillsets-select.edit > li a.edit .svg .ok {display: block;fill: #ffffff;}
.right-box .skillsets-selected .selected ul.skillsets-select.edit > li a .delete {display: inline-block;vertical-align: middle;width: 20px;height: 20px;margin: -6px -10px -5px 5px;border-radius: 10px;background-color: #495565;}
.right-box .skillsets-selected .selected ul.skillsets-select.edit > li a .delete .svg {width: 10px;height: 10px;margin: 5px;}
.right-box .skillsets-selected .selected ul.skillsets-select.edit > li a .delete .svg .ico {fill: #ffffff;}
.right-box .skillsets-selected .selected .clusters {display: none;margin: 0;padding: 0;list-style: none;font-size: 0;}
.right-box .skillsets-selected .selected .clusters .title {margin: 15px 0 5px;font-size: 12px;font-weight: 500;color: #495565;}
.right-box .skillsets-selected .selected .clusters > li {display: none;margin: 0 5px 5px 0;padding-right: 5px;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #96999f;line-height: 1;border-right: 1px solid;}
.right-box .skillsets-selected .selected .clusters > li:last-child {margin: 0;padding: 0;border: 0;}
.right-box .skillsets-selected .selected .clusters > li a {text-decoration: none;}
.right-box .skillsets-selected .selected .clusters > li a:hover {color: #ff0099;}
.right-box .skillsets-selected .selected .clusters > li.select {display: inline-block;}
.right-box .skillsets-selected .selected .clusters.show {display: block;}
.right-box .skillsets-selected .selected .clusters.show > li {display: inline-block;}
.right-box .skillsets-selected .selected .clusters .choice {margin: 10px -25px -25px;padding: 10px 25px;background-color: #495565;}
.right-box .skillsets-selected .selected .clusters .choice fieldset {margin: 0;padding: 0;border: 0;overflow: hidden;}
.right-box .skillsets-selected .selected .clusters .choice fieldset label {display: block;width: 50%;float: left;margin: 5px 0;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #ffffff;}
.right-box .skillsets-selected .selected .clusters .choice button {display: block;width: 120px;clear: both;margin: 10px 0 5px;font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;font-size: 12px;color: #495565;text-align: center;text-decoration: none;line-height: 30px;border: 0;outline: 0;border-radius: 3px;background-color: #ffffff;cursor: pointer;}
.right-box .skillsets-selected .basket-options {margin: 0 -30px;padding: 25px 30px;background-color: #eeeeee;box-shadow: inset 0 2px 3px -1px rgba(0,0,0,0.3);}
.right-box .skillsets-selected .basket-options .timer {font-size: 0;white-space: nowrap;}
.right-box .skillsets-selected .basket-options .timer .timeline {position: relative;display: inline-block;vertical-align: middle;width: calc(100% - 70px);height: 7px;border-left: 1px solid #a4a9b3;}
.right-box .skillsets-selected .basket-options .timer .timeline:after {position: absolute;top: 0;bottom: 0;left: 0;right: 0;content: '';height: 0;margin: auto;border-top: 1px solid #a4a9b3;}
.right-box .skillsets-selected .basket-options .timer .timeline div {position: absolute;top: 0;bottom: 0;left: 23px;right: 25px;}
.right-box .skillsets-selected .basket-options .timer .timeline div span {z-index: 1;position: absolute;top: 0;bottom: 0;width: 50px;height: 20px;margin: auto -25px;font-size: 14px;color: #ffffff;text-align: center;line-height: 20px;border-radius: 10px;background-color: #54b81b;}
.right-box .skillsets-selected .basket-options .timer .time {display: inline-block;vertical-align: middle;width: 70px;font-size: 18px;color: #495565;text-align: right;backg1round: red;}
.right-box .skillsets-selected .basket-options .title {margin: 20px 0;font-size: 18px;color: #ff0099;text-transform: uppercase;line-height: 1.3;}
.right-box .skillsets-selected .basket-options .note {font-size: 12px;color: #3a3b3e;}
.right-box .skillsets-selected .basket-options .basket-options-menu {margin: 20px 0;padding: 0;list-style: none;}
.right-box .skillsets-selected .basket-options .basket-options-menu > li {margin: 10px 0;}
.right-box .skillsets-selected .basket-options .basket-options-menu > li a {position: relative;display: block;padding: 0 20px;font-size: 14px;color: #3a3b3e;text-decoration: none;line-height: 40px;border-radius: 3px;background-color: #ffffff;}
.right-box .skillsets-selected .basket-options .basket-options-menu > li a .svg {position: absolute;top: 0;bottom: 0;right: 8px;display: block;margin: auto;}
.right-box .skillsets-selected .basket-options .basket-options-menu > li a .svg .right {display: block;}
.right-box .skillsets-selected .basket-options .basket-options-menu > li a:hover {color: #ff0099;}
.right-box .skillsets-selected .basket-options .basket-options-menu > li a:active {color: #ffffff;background-color: #ff0099;}
.right-box .skillsets-selected .basket-options .basket-options-menu > li a:active .svg > * {fill: #ffffff;}



/* right-box user-rejected */
.right-box .user-rejected {}
.right-box .user-rejected .padding {padding: 25px;padding-bottom: 180px;}
.right-box .user-rejected .title {margin: 20px 0;font-size: 20px;color: #495565;text-transform: uppercase;}
.right-box .user-rejected .title a {display: inline-block;vertical-align: middle;margin-right: 10px;}
.right-box .user-rejected .note {font-size: 14px;color: #3a3b3e;}
.right-box .user-rejected .rejected-list {margin: 10px 0;padding: 0;list-style: none;}
.right-box .user-rejected .rejected-list > li {margin: 10px 0;}
.right-box .user-rejected .rejected-list > li label {position: relative;display: block;width: 100%;padding: 0 20px;font-size: 14px;color: #3a3b3e;text-decoration: none;line-height: 40px;white-space: nowrap;border-radius: 3px;background-color: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.2);}
.right-box .user-rejected .rejected-list > li label:hover {color: #ff0099;}
.right-box .user-rejected .rejected-list > li label:active {color: #ffffff;background-color: #ff0099;}
.right-box .user-rejected .rejected-list > li label span {display: inline-block;vertical-align: top;width: calc(100% - 30px);text-overflow: ellipsis;overflow: hidden;}
.right-box .user-rejected .buttons {position: absolute;bottom: 0;left: 0;right: 0;height: 160px;padding-top: 10px;border-top: 1px solid #d4d4d4;background-color: #dee0e3;}
.right-box .user-rejected .buttons button {display: block;width: 80%;height: 50px;margin: 10px auto;font-size: 18px;text-align: center;text-decoration: none;border: 0;outline: 0;border-radius: 5px;box-shadow: 0 1px 2px rgba(0,0,0,0.15);}



/* right-box call-back */
.right-box .call-back {}
.right-box .call-back .padding {padding: 25px;padding-bottom: 180px;}
.right-box .call-back .title {margin: 20px 0;font-size: 20px;color: #495565;text-transform: uppercase;}
.right-box .call-back .title a {display: inline-block;vertical-align: middle;margin-right: 10px;}
.right-box .call-back .note {font-size: 14px;color: #3a3b3e;}
.right-box .call-back .call-back-list {margin: 10px 0;padding: 0;list-style: none;font-size: 0;white-space: nowrap;text-align: center;}
.right-box .call-back .call-back-list > li {position: relative;display: inline-block;vertical-align: top;width: 30%;margin: 0 1%;font-size: 13px;color: #3a3b3e;line-height: 40px;white-space: nowrap;border-radius: 3px;background-color: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.2);}
.right-box .call-back .call-back-list > li a {display: block;padding: 0 20%;text-align: left;text-decoration: none;}
.right-box .call-back .call-back-list > li.select > a {display: none;}
.right-box .call-back .call-back-list > li.select > ul {display: block;}
.right-box .call-back .call-back-list > li > ul {display: none;margin: 0;padding: 0;list-style: none;line-height: 1.3;}
.right-box .call-back .call-back-list > li > ul > li {margin: 0;padding: 0;}
.right-box .call-back .call-back-list > li > ul > li a {margin: 6px 0;padding-top: 6px;padding-bottom: 6px;}
.right-box .call-back .call-back-list > li > ul > li a:hover {color: #ffffff;background-color: #ff0099;}
.right-box .call-back .buttons {position: absolute;bottom: 0;left: 0;right: 0;height: 160px;padding-top: 10px;border-top: 1px solid #d4d4d4;background-color: #dee0e3;}
.right-box .call-back .buttons button {display: block;width: 80%;height: 50px;margin: 10px auto;font-size: 18px;text-align: center;text-decoration: none;border: 0;outline: 0;border-radius: 5px;box-shadow: 0 1px 2px rgba(0,0,0,0.15);}












































