﻿@model TicketTool.Projects.TaskList.Models.Manager.ManagerIndexModel
@section scripts{
    <script src='@Url.Content("~/Scripts/custom/manager.js")'></script>
}
@{
    var user = HttpContext.Current.User;
}
@if(user != null && user.Identity.IsAuthenticated)
{
    <div class="taskContainer" style="padding: 10px 0px;">
        <h2>Незавершенные задачи</h2>        
        
        @if(Model.Parameters.Count > 1)
        {
            <form method="GET" style="margin: 0px">
                @Html.DropDownListFor(m => m.ParameterName, Model.Parameters.Select(p => new SelectListItem {Text = p.DisplayName, Value = p.Name}).ToArray(), "Все магазины")
                <input class="btn" style="margin-top: -10px" type="submit" value="Отфильтровать" />
            </form>
        }

        @if(Model == null || Model.TaskItems.Count == 0)
        {
            <p>Задач нет!</p>
        }
        else
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 50px;">Исполнитель</th>
                        <th style="width: 115px;">Место продажи</th>
                        <th>Название</th>
                        <th style="width: 115px;">Номер интернет заказа</th>
                        <th style="width: 115px;">Номер резерва</th>
                        <th style="width: 180px;">Дата выставления (MSK)</th>
                        <th style="width: 180px;">Дата эскалации (MSK)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var task in Model.TaskItems)
                    {
                        <tr>
                            <td style="text-align: center;">
                                @if(task.IsAssignedOnMe)
                                {
                                    <span class="label label-success">@(task.AssignedOn)</span>
                                }
                                else if(!string.IsNullOrEmpty(task.AssignedOn))
                                {
                                    <span class="label label-info">@(task.AssignedOn)</span>
                                }
                                else
                                {
                                    <span class="label">Свободна</span>
                                }
                            </td>
                            <td>@(String.IsNullOrEmpty(task.Store.SapCode) ? String.Empty : task.Store.SapCode)</td>
                            <td>
                                @if(String.IsNullOrEmpty(task.Url))
                                {
                                    @task.Name
                                }
                                else
                                {
                                    <a href="@task.Url">@task.Name</a>
                                }
                            </td>
                            <td>@task.OrderId</td>
                            <td>@task.WWSOrderId</td>
                            <td>@task.CreationDate</td>
                            <td>
                                @if(task.Escaleted)
                                {
                                    <span class="label label-warning">@(task.DeadlineDate)</span>
                                }
                                else
                                {
                                    <span>@(task.DeadlineDate)</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}