﻿@model TicketTool.Web.Models.UsersData

@section scripts{
@Html.DevExpress().GetStyleSheets( 
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
            )
    @Html.DevExpress().GetScripts( 
        new Script { ExtensionSuite = ExtensionSuite.GridView }, 
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor }, 
        new Script { ExtensionSuite = ExtensionSuite.Editors }
            )
    <script src="@Url.Content("~/Scripts/custom/usersPage.js")" type="text/javascript"></script>
}


@Html.Hidden("returnUrl", Url.Action("Index","Users"))
@{
    var user = HttpContext.Current.User;
}
@if (user != null && user.Identity.IsAuthenticated)
    {
    <div style="padding-bottom:10px; text-align:right;"><a class="userCreateLink">Создать</a></div>
    <div class="usersContainer">
    @Html.Partial("UsersControls/UsersGrid", Model.Users)
    </div>
    <div style="display:none;">
        @Html.Partial("Dialogs/UserForm");
    </div>
}