﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
</head>
<body>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "post",
                url: 'http://localhost/TicketTool.Integration.ZZT.Basket/Basket/Validate',
                data: '{"consumer":"metro","articles":[{"id":"1188761","price":28999,"qty":1,"campaign_id":"5902_metro", "type":"Product"}]}',
                contentType: 'application/json',
                success: function (response) {
                    console.log(response);
                }
            });
        });
    </script>
    <div>
        
    </div>
</body>
</html>
