﻿
@using TicketTool.Web.Common
@model IEnumerable<TicketTool.Web.TicketToolAdminLink.ParameterRealTimeStat>
<table class="table table-striped table-bordered tablesorter">
    <thead>
        <tr>
            <th class="sort-SapCode">Магазин</th>
            <th class="sort-QtyOnStore">На магазине</th>
            <th class="sort-MaxTimeOnStore">Макс. время</th>
            <th class="sort-InProgressOnStore">В обр. магазин</th>
            <th class="sort-QtyOnCallCenter">На колцентре</th>
            <th class="sort-MaxTimeOnCallCenter">Макс. время</th>
            <th class="sort-InProgressOnCallCenter">В обр. колцентр</th>
            <th class="sort-FinishedTasksQty">Завершено за сегодня</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var elem in Model)
    {
        <tr>
            <td>@elem.ParameterName</td>
            <td>@elem.QtyOnStore</td>
            <td>@elem.MaxTimeOnStore.FormatTime()</td>
            <td>@elem.InProgressOnStore</td>
            <td>@elem.QtyOnCallCenter</td>
            <td>@elem.MaxTimeOnCallCenter.FormatTime()</td>
            <td>@elem.InProgressOnCallCenter</td>
            <td>@elem.FinishedTasksQty</td>
        </tr>
    }
    </tbody>
</table>