﻿@using TicketTool.Web.Common

@model IEnumerable<TicketTool.Web.Models.Items.UserLogLineItem>
<table class="table table-striped table-bordered">
    <thead> 
        <tr>
            <th>скилсет:</th>
            <th>время:</th>
            <th>вход:</th>
            <th>выход:</th>
            <th>обработано:</th>
            <th>оставлено:</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var elem in Model)
    {
        <tr>
            <td>@elem.SkillSetName</td>
            <td>@elem.SkillSetTime.FormatTime()</td>
            <td>@elem.LoginDate</td>
            <td>@elem.LogoutDate</td>
            <td>@elem.ProcessedQty</td>
            <td>@elem.AbandonedQty</td>
        </tr>
    }
    </tbody>
</table>