﻿@model IEnumerable<TicketTool.Web.Models.Items.SkillSetStatItem>

<script type="text/javascript">
    $(document).ready(function () {
        $('.cluster-sel').click(function () {
            var cluster = $(this).data('parentcluster');
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            } else {
                $(this).addClass('active');
            };
            $('.cluster-child').each(function () {
                if ($(this).data('cluster') == cluster) {
                    $(this).toggle();
                };
            });
        });
    });
</script>

<table class="table table-striped table-bordered tablesorter">
    <thead>
        <tr>
            <th class=""></th>
            <th class="sort-Name">Скилсет</th>
            <th class="sort-TasksInQueue">В очереди</th>
            <th class="sort-TasksInProgress">В обработке</th>
            <th class="sort-EscalatedTasks">В эскалации</th>
            <th class="sort-UsersQty">Агентов на скилсете</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var elem in Model)
    {
        <tr>
            <td>@if (elem.IsClustered)
                {
                    <a href="#" class="btn btn-primary btn-mini cluster-sel" data-parentcluster="@elem.Name"><span class="glyphicon">+</span> </a>
                } </td>
            <td>@elem.Name</td>
            <td>@elem.TasksInQueue</td>
            <td>@elem.TasksInProgress</td>
            <td>@elem.EscalatedTasks</td>
            <td>@elem.UsersQty</td>
        </tr>
        if (elem.IsClustered)
        {
            foreach (var childSkillSet in elem.ChildSkillSets)
            {
                <tr data-cluster="@elem.Name" class="cluster-child" style="display: none">
                    <td></td>
                    <td>@childSkillSet.Name</td>
                    <td>@childSkillSet.TasksInQueue</td>
                    <td>@childSkillSet.TasksInProgress</td>
                    <td>@childSkillSet.EscalatedTasks</td>
                    <td>@childSkillSet.UsersQty</td>
                </tr>
            }
        }
    }
    </tbody>
</table>