﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="page" id="page">
        <div class="page-header">
            <div class="header" id="header">
                @*@Html.ActionLink("Ticket Tool", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <div class="logo">Ticket Tool<small>by Media Markt</small></div>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
        <div class="page-middle" id="content">
            @RenderBody()
        </div>
    </div>    
</body>
</html>
