﻿@if (Request.IsAuthenticated)
{
    <ul class="user-menu">
        <li class="user-name" id="user_name">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="24px" height="24px">
                <path class="ico" fill="#DDDDDD" fill-rule="evenodd" clip-rule="evenodd" d="M25,50C11.193,50,0,38.807,0,25S11.193,0,25,0c13.807,0,25,11.193,25,25S38.807,50,25,50z M37.301,41.984L30,38.334c-0.791-0.364-1.564-0.801-1.666-1.667c-0.103-0.864,0.983-2.795,1.666-3.333c2.682-2.111,3.334-5.929,3.334-8.333v-6.667c0-2.669-4.088-5-8.334-5c-4.208,0-8.333,2.389-8.333,5V25c0,2.441,0.736,6.248,3.333,8.333c0.676,0.542,1.773,2.474,1.667,3.333c-0.105,0.86-0.88,1.305-1.667,1.667l-7.301,3.65C16.161,44.498,20.404,46,25,46C29.596,46,33.839,44.498,37.301,41.984z M25,4C13.421,4,4,13.421,4,25c0,5.891,2.446,11.214,6.366,15.031l7.967-3.365c-3.496-2.806-5-8.937-5-11.666v-8.333c0-4.138,6.141-6.656,11.661-6.656c5.519,0,11.672,2.519,11.672,6.656V25c0,3-1.537,8.941-5,11.666l7.964,3.367C43.553,36.217,46,30.892,46,25C46,13.421,36.579,4,25,4z" />
            </svg>
            <span>Добро пожаловать, @User.Identity.Name</span>
        </li>
        <li class="user-exit" id="user_exit">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()   
                <a href="javascript:document.getElementById('logoutForm').submit()" role="button">Выйти</a>
            }
        </li>
    </ul>
}
else
{
    <ul class="user-menu">
        <li class="user-exit" id="user_exit">
            @Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", role = "button" })
        </li>
    </ul>
}
