﻿@using TicketTool.Web.Models.Items

@model TaskFieldItem
@*<div class="control-group">
    <label class="control-label">@Model.Name</label>
    <div class="controls">
        @switch (Model.StringType)
        {
            case "System.String":
            case "System.Int32":
            case "System.Decimal":
            case "System.Double":
                @Html.TextBoxFor(m => m.TextValue, new { @class = "textField" })
                break;
            case "System.DateTime":
                @Html.TextBoxFor(m => m.DateTimeValue, new { @class = "textField input-small datepicker" })
                break;
            case "System.TimeSpan":
                @Html.DropDownListFor(m => m.TimeSpanDayValue, TaskFieldItem.TimeSpanDayValues.Select(m => new SelectListItem { Text = m.Name, Value = m.Value }), new { @class="timespanField first"})
                @Html.DropDownListFor(m => m.TimeSpanHourValue, TaskFieldItem.TimeSpanHourValues.Select(m => new SelectListItem { Text = m.Name, Value = m.Value }), new { @class="timespanField second" })
                @Html.DropDownListFor(m => m.TimeSpanMinValue, TaskFieldItem.TimeSpanMinValues.Select(m => new SelectListItem { Text = m.Name, Value = m.Value }), new { @class="timespanField third" })
                break;
            case "System.Boolean":
                @Html.CheckBoxFor(m => m.BoolValue)
                break;
            case "Choice":
                @Html.DropDownListFor(m => m.TextValue, Model.PredefinedValuesList.Select(m => new SelectListItem { Text = m, Value = m }), new { @class="dropdownField" })
                break;
        }
    </div>
</div>*@
<div class="fieldBlock">
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.StringType)
    <div class="fieldDescription">@Model.Name</div>
    <div class="fieldValue">
        @switch (Model.StringType)
        {
            case "System.String":
            case "System.Int32":
            case "System.Decimal":
            case "System.Double":
                @Html.TextBoxFor(m => m.TextValue, new { @class = "textField", required = "required " })
                break;
            case "System.DateTime":
                @Html.TextBoxFor(m => m.DateTimeValue, new { @class = "textField input-small datepicker", required = "required " })
                break;
            case "System.TimeSpan":
                @Html.DropDownListFor(m => m.TimeSpanDayValue, TaskFieldItem.TimeSpanDayValues.Select(m => new SelectListItem { Text = m.Name, Value = m.Value }), new { @class="timespanField first"})
                @Html.DropDownListFor(m => m.TimeSpanHourValue, TaskFieldItem.TimeSpanHourValues.Select(m => new SelectListItem { Text = m.Name, Value = m.Value }), new { @class="timespanField second" })
                @Html.DropDownListFor(m => m.TimeSpanMinValue, TaskFieldItem.TimeSpanMinValues.Select(m => new SelectListItem { Text = m.Name, Value = m.Value }), new { @class="timespanField third" })
                break;
            case "System.Boolean":
                @Html.CheckBoxFor(m => m.BoolValue)
                break;
            case "Choice":
                @Html.DropDownListFor(m => m.TextValue, Model.PredefinedValuesList.Select(m => new SelectListItem { Text = m, Value = m }), new { @class="dropdownField" })
                break;
        }
    </div>
</div>