﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        var approot = '@Request.ApplicationPath';
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dialogs")
    @Styles.Render("~/Content/css")
    <script src='@Url.Content("~/Scripts/custom/routeLinks.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/base.js")'></script>
    @RenderSection("scripts", false)
</head>
<body style="padding:0px 10px;">
    <div>
        @RenderBody()
    </div>
</body>
</html>
