﻿a {
    cursor:pointer;
}

.validation-summary-errors {
    color:red;
}
label.error {
    color: red;
}
.customBigInput {
    width:431px;
}

.form-horizontal  .control-group {
    margin-bottom:5px;
}

.customLabel {
    display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 150px;
}

.content {
    /*min-width: 800px;*/
    padding: 5px;
}
/*.inline {
    display: inline-block;
  *display: inline;
  *zoom: 1;
}*/

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }

.customLink {
    cursor:pointer;
    text-decoration: none;
    color: black;
}

.loginHeader {
    text-align: right;
    padding: 5px 5px;
}


.table-bordered {
  border-color: #63A9D9;
  border-width: 1px;
  border-left: 1px solid #63A9D9;
}
.table-bordered caption + thead tr th:first-child,
.table-bordered caption + tbody tr th:first-child,
.table-bordered caption + tbody tr td:first-child,
.table-bordered colgroup + thead tr th:first-child,
.table-bordered colgroup + tbody tr th:first-child,
.table-bordered colgroup + tbody tr td:first-child,
.table-bordered thead tr th:first-child,
.table-bordered tbody tr th:first-child,
.table-bordered tbody tr td:first-child {
  border-left: 0;
}

table.table-striped.table-bordered thead tr {
    background: #cccccc url(images/ui-bg_highlight-soft_75_99C7E6_1x100.png) 50% 50% repeat-x;
}
/* tableSorter */



table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

/* */

#loginUserDialog fieldset {
    padding: 0px 0px;
    border: 0px;
}
#loginUserDialog fieldset span.label {
    width: 70px;
    margin-top: 5px;
    margin-right: 5px;
    float:left;
}

.taskEditDialog form{
    margin:0;
}

