﻿/*kendo Grid
        -----------------------------------------------------*/

    .k-detail-cell .k-tabstrip .k-content { padding: 0.2em; }

    .k-grid .k-toolbar { min-height: 27px; }

    .k-grid .toolbar {
        float: left;
        margin-left: 15px;
    }

    .k-grid th.filterChanged a.k-link { color: red; }

    .grid-wrapper {
        margin: 0 auto;
        /*max-width: 960px;*/
    }

    .k-detail-cell .k-button { margin: 0 0.16em 0.16em 0; }

    .k-grid-filter.k-state-active { background-color: #fa8072; }

    /*kendo Window
    --------------------------------------------------------*/

    .k-window-content .toolbar { float: left; }

    .k-window-content .k-dropdown { width: auto; }

    .k-window-content label {
        display: inline-block;
        text-align: right;
    }

    .k-window-content ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #tickets li { margin: 10px 0 0 0; }

    .k-window-content .accept, .status { padding-left: 90px; }

    .k-window-content .invalid { color: red; }

    .k-window-content span.k-tooltip { margin-left: 6px; }

    div.iframeContainer { overflow: hidden; }

    .none {display: none}
    
    button.none {display: none}