﻿@using TicketTool.Web.Common

@model TicketTool.Web.Models.Items.TaskOutcomeItem
@{
    var index = ViewData["index"];
}
<h3 class="outcomeName">@Model.Value</h3>
<div class="outcomeBlock">
    @Html.HiddenFor(m => m.Value)
    @Html.HiddenFor(m => m.HaveRequiredFields)
    @Html.EditorForCollection(m => m.RequiredFields)
    <div>
        <input type="submit" value="Завершить" class="submitButton outcomeSubmit" data-href="@Url.Action("Finish", "Simple", new { outcomeIndex = index })"/>
        @if (Model.HaveRequiredFields)
        {
            <span style="color:red;" title="@Model.ToolTipText">?</span>
        }
    </div>
</div>
