﻿.ui-blue {
    background-image: url(themes/base/images/ui-icons_2e83ff_256x240.png) !important;
}
.ui-red {
    background-image: url(themes/base/images/ui-icons_cd0a0a_256x240.png) !important;
}
.ui-grey {
    background-image: url(themes/base/images/ui-icons_454545_256x240.png) !important;
}
.img-icon {
    display: inline-block;
    padding: 0;
}
.mini {
    max-width: 80px;
    min-width: 50px;
}
.look-through {
    position: absolute;
}

.ui-spinner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    border: none;
    width: 100px;
}
.ui-spinner-input {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    vertical-align: middle;
}
.ui-spinner-button {
    width: 16px;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    overflow: hidden;
    right: 0;
}
/* more specificity required here to overide default borders */
.ui-spinner a.ui-spinner-button {
    border-left: none;
}
/* vertical centre icon */
.ui-spinner .ui-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    left: 0;
}
.ui-spinner-up {
    top: 0;
}
.ui-spinner-down {
    bottom: 0;
}

.hasDatepicker {
    width: 140px;
}

.ui-front {
    z-index: 100;
}
.ui-autocomplete {
    z-index: 101;
}
.ui-spinner input {
    margin: 0;
}
.dadata-template {
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 4px;
    background-color: lightgoldenrodyellow;
}
.dadata-template *{
    padding: 0;
    margin: 0;
    font-size: 11px;
}
.dadata-template ul>li{
    list-style-image: none;
    display: inline-block;
    padding-right: 2px;
}
.dadata-template ul>li>label{
    font-style: italic;
    color: darkgrey;
    font-size: 11px;
}
.dadata-template ul>li>label+p{
    font-weight: bold;
    color: black;
}
.dadata-template-tooltip{
    cursor: pointer;
    text-align: right;
}
.hidden {
    display: none;
}
.dadata-template .buttons li{
    padding-right: 20px;
    cursor: pointer;
}
.controls{
    min-height: 30px;
    max-width: 500px;
}
.input-checkbox>input[type="checkbox"]{
    position: absolute;
    margin-top: 10px;
}
.input-checkbox{
    height: 30px;
    width: 30px;
    display: inline;
}
.input-checkbox+input{
    left: 20px;
    position: relative;
}
input,textarea {
    width: 300px;
}
select {
    width: 314px;
}
.img-icon.ui-red.ui-icon.ui-icon-notice{
    position: absolute;
    margin-top: 6px;
}
.control-group{
    max-width: 800px;
    margin-bottom: 5px!important;
}
[id$="additional_address_params"]>ul>li {
    list-style-image: none;
    display: inline-block;
    padding-right: 2px;
}
.address-label {
    margin: 0;
    padding: 0;
    display: inline;
}
.address-label+.img-icon.ui-red.ui-icon.ui-icon-notice {
    margin: 2px;
}
.short-label {
    width: 86px;
}
select.short-label{
    width: 63px;
}
.autocomplete-suggestions {
    background: #fff;
    border: 1px solid #b3b9cb;
    cursor: default;
    max-height: 500px;
    overflow: auto;
}
.autocomplete-suggestions strong {
    color: #3399FF;
    font-weight: normal;
}
.autocomplete-suggestion {
    overflow: hidden;
    padding: 2px 5px;
    white-space: nowrap;
    direction: rtl;
}
.autocomplete-selected {
    background: #f0f0f0;
}