﻿@model Zzt.Web.MVC.Models.OrderLine

@{
    var index = (ViewData["index"] as int?) ?? 0;
    index++;
}

<tr>
    <td>
        @if (Model.LongTail)
        {
            <i class="img-icon ui-blue ui-icon ui-icon-clock" title="Предзаказ" style="position: relative; right: 0;"></i>
            @Html.HiddenFor(m => m.LongTail)
        }
        @(index)
    </td>
    <td>
        <a href="#" onclick=" addNewLine('@Model.ArticleNo') ">@Html.DisplayFor(m => m.ArticleNo, new {@class = "control-label"})</a>
        @Html.ValidationMessageFor(m => m.ArticleNo)
        @Html.HiddenFor(m => m.ArticleNo)
        @if (!string.IsNullOrEmpty(Model.UmaxStatus))
        {
            <br/>
            <br/>
            @Html.LabelFor(m => m.UmaxStatus)
            @Html.Label("m => m.UmaxStatus", Model.UmaxStatus.ToLowerInvariant())
            @Html.HiddenFor(m => m.UmaxStatus)
        }
    </td>
    <td>
        <a href="#" onclick=" addNewLine('@Model.ArticleNo') ">@Html.DisplayFor(m => m.ArticleTitle, new { @class = "control-label" })</a>
        @Html.HiddenFor(m => m.ArticleTitle)
    </td>
    <td>
        @Html.DisplayFor(m => m.Quantity, new {@class = "control-label"})
        @Html.ValidationMessageFor(m => m.Quantity)
        <input type="hidden" id="@Html.IdFor(m => m.Quantity)" name="@Html.NameFor(m => m.Quantity)" value="@Model.Quantity"/>
    </td>
    <td>
        @Html.DisplayFor(m => m.PriceText)
        @Html.HiddenFor(m => m.Price)
    </td>
    <td>
        @Html.DisplayFor(m => m.DiscountPercentageText)
        @Html.HiddenFor(m => m.DiscountPercentage)
    </td>
    <td>
    </td>
</tr>