﻿@model List<Zzt.Web.MVC.Models.OrderStatusChange>

@if (Model == null)
{
    return;
}

@{
    var items = Model.Where(m => !string.IsNullOrEmpty(m.ReasonText)).ToList();
}

@if (!items.Any())
{
    return;
}
@{
    items = items.OrderByDescending(i => i.UpdateTime).ToList();
}

<div class="control-group">
    @Html.LabelFor(m => m, "Комментарии менеджера", new {@class = "control-label"})
    <div class="controls">
        
        @foreach (var item in items)
        {
            <label style="padding-top: 5px;">@HttpUtility.HtmlEncode(string.Format("{0}⇒{1}: {2}", item.FromStatus, item.ToStatus, item.ReasonText))</label>
        }

        @for (var index = 0; index < Model.Count; index++)
        {
            @Html.DisplayFor(m => m[index]);
        }

    </div>
</div>
