﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery")
    @System.Web.Optimization.Scripts.Render("~/Scripts/Dadata")
    @System.Web.Optimization.Styles.Render("~/Content/jquery-ui", "~/Content/bootstrap")
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/globalize.culture.ru-RU.js")"></script>*@
    <script src="@Url.Content("~/Scripts/base.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("script", false)
</head>
    <body>
         @RenderBody()
    </body>
</html>
