﻿@{
    ViewBag.Title = "TestCreateOrderIframe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section script
{
    <script type="text/javascript">
@*        function NewRequest() {
            $.post('@Url.Action("CreateOrder", "Orders")', { basketArticles: [{ ArticleNum: 1189007, Price: 1852, Quantity: 1 }] }, function(data) {
                $('iframe').contents().find('html').html(data);
            });
        }

        function BO25034329() {
            $.get('@Url.Action("Index", "Orders", new {id = "BO25034329"})', {}, function(data) {
                $('iframe').contents().find('html').html(data);
            });
        }*@

        $(function() {
            $('body,iframe').css('height', '100%').css('width', '100%');
        });
    </script>
}

<h2>TestCreateOrderIframe</h2>

@*<button onclick=" NewRequest()">New</button>
<button onclick=" BO25034329()">BO25034329</button>
<br/>
<br/>*@
<iframe src="http://localhost/TicketTool.Projects.Zzt.Web.MVC/Orders/Index?orderId=BO25034329&id=BO25034329"></iframe>
<script>
    document.domain = '@System.Web.Compilation.AppSettingsExpressionBuilder.GetAppSetting("CallcenterDomain")';
    function openCallCenter(basket, itemId) {
        if (itemId) {
            itemId = 'item_id=' + itemId + '&';
        } else {
            itemId = '';
        }

        $('#callcenterDiv').css('min-height', $(window).height() - 100).css('height', $(window).height() - 100);
        $('#callcenterDiv').css('width', $(window).width() - 100);
        $('#callcenterDiv').html('<iframe width="99%" height="99%" src="@("http://callcenter.mediasaturnrussia.ru/003/pcenter?sap_code=R930&")"' + itemId + basket + ')"></iframe>');
        $('#callcenterDiv').show();
    }

    function closeCallCenter() {
        $('#callcenterDiv').hide();
    }
</script>
<div id="callcenterDiv" style="display: none; position: absolute; top: 60px; left: 60px; background-color: #f0f0f0; text-align: center;"></div>
