﻿@model TicketTool.Projects.Data.Model.ArticleLine
@{
    int index;
    int.TryParse(ViewData["index"].ToString(), out index);
}
<tr class="@(Model.IsWrong || Model.IsDataWrong ? "errorLine" : "")">
    <td>
        <div style="float: left;">@(index + 1)</div>
    </td>
    <td>@Html.DisplayFor(m => m.ArticleNum)</td>
    <td>@Html.DisplayFor(m => m.Description)</td>
    <td>
            <a style="float: left;" data-href="@Url.Action("SubQty", "Home", new {index})" class="customLink submitButton ui-red ui-icon ui-icon-minusthick"></a>
            <span style="float: left; margin: 0px 10px;">@Model.Qty</span>
            <a style="float: left;" data-href="@Url.Action("AddQty", "Home", new {index})" class="customLink submitButton ui-green ui-icon ui-icon-plusthick"></a>
    </td>
    <td>@String.Format("{0:0.00}", Model.Price) руб.</td>
    <td>
        @Html.HiddenFor(m => Model.Comment)
        @Html.HiddenFor(m => Model.IsWrong)
        @Html.HiddenFor(m => Model.ArticleNum)
        @Html.HiddenFor(m => Model.Description)
        @Html.HiddenFor(m => Model.Qty)
        @Html.HiddenFor(m => Model.Price)
        <a style="float: right;" data-href="@Url.Action("DeleteBasketArticle", "Home", new {index})" class="customLink submitButton ui-red ui-icon ui-icon-closethick" />
    </td>
</tr>

@{
    <tr>
        <td colspan="7">     
            @if (Model.Comments.Count > 0)
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.Comment, new {@class = "control-label"})
                    <div class="controls">
                        @foreach (var c in Model.Comments)
                        {
                            <p>
                            <b>@c.CreatedBy (@c.Created.ToString("dd.MM.yyyy")):</b>
                            <br/>
                            @c.Text
                            </p>
                        }                     
                    </div>
                </div>
            }                
            <div class="control-group display">
                @Html.LabelFor(m => m.NewComment, new {@class = "control-label"})
                <div class="controls">
                    @Html.EditorFor(m => m.NewComment, new {})                        
                </div>
            </div>
            
        </td>
    </tr>
}