﻿
@model TicketTool.Projects.Data.Model.Customer
<h4>Заказчик</h4>
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.Surname)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.Surname)
        @Html.ValidationMessageFor(m => m.Surname)
    </div>
</div>
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.FirstName)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
</div>
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
</div>
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.MainPhone)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.MainPhone, new { @class = "keyfilter-phone" })
        @Html.ValidationMessageFor(m => m.MainPhone)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(m => m.OptionalPhones, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(m => m.OptionalPhones)
    </div>
</div>