﻿@model TicketTool.Projects.Data.Model.PickupInfo
<h4>Способ получения</h4>

@Html.HiddenFor(m => m.SapCode)
<div class="control-group display">
    <div class="control-label">
        @Html.LabelFor(m=>m.SapCode)
    </div>
    <div class="controls">
        @Html.DisplayFor(m => m.SapCode)
    </div>
</div>
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;"></div>
        @Html.LabelFor(m => m.PickupType)
    </div>
    <div class="controls">
        @Html.DropDownListFor(m => m.PickupType, Model.PickupTypes)
        @Html.ValidationMessageFor(m => m.PickupType)
    </div>
</div>

<div class="control-group deliveryPlace">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m=>m.Address)
    </div>
    <div class="controls">
        @Html.TextAreaFor(m=>m.Address)
        @Html.ValidationMessageFor(m=>m.Address)
    </div>
</div>
<div class="control-group deliveryPlace">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m=>m.City)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m=>m.City)
        @Html.ValidationMessageFor(m=>m.City)
    </div>
</div>