﻿@{
    Layout = null;    
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-color:#CDDDFE;">
@*    <div style="font-size: 20pt; font-family: Verdana, Arial;">Связанный контент</div>*@
</body>
</html>