﻿@using TicketTool.Web.Common

@model TicketTool.Web.Models.SimpleTaskData
@section scripts{
    <script src="@Url.Content("~/Scripts/Custom/single.js")"></script>
}
@{
    Layout = "~/Views/Shared/_simpleLayout.cshtml";
    var user = HttpContext.Current.User;
}
@if (user != null && user.Identity.IsAuthenticated)
{
    @Html.Hidden("pingInterval", ViewData["PingInterval"])
    @Html.Hidden("sleepInterval", ViewData["SleepInterval"])
    using (Html.BeginForm("Single", "Simple", FormMethod.Post))
    {
        @Html.Hidden("IsSinglePage", true)
        @*<div style="overflow:hidden;">
            <div style="float:right; margin-bottom: 10px;">
                <span class="taskSkillsets" style="font-size: 11px; margin-right:10px;">[@String.Join("; ", Model.LoggedSkillsets.Select(m => m.Name))]</span>
                <input type="submit" class="submitButton" data-href="@Url.Action("LogoutSkillSets", "Simple")" value="Выйти из скиллсетов"/>
            </div>
        </div>*@
        <div>
            @if (Model.Task == null)
            {
                @Html.Hidden("TaskId", "")
                <span style="font-size:16px;">Нет задач!</span>
            }
            else
            {
                <div style="clear:both;font-size:16px;">
                    <span style="font-weight: bold; font-size: 20px;">@Model.Task.Name</span>
                    <div style="float:right;">
                        <span class="taskTime">@(Model.PingTask != null ? String.Format("{0:hh\\:mm\\:ss}",Model.PingTask.UserTime) : "")</span> / 
                        <span class="taskMaxTime">@(Model.PingTask != null ? String.Format("{0:hh\\:mm\\:ss}",Model.PingTask.MaxTimeForUser) : "")</span>
                    </div>
                </div>
                if(Model.Task.IsEscalated)
                {
                    <div style="overflow:hidden;">
                        <div style="float:right;">
                            <input type="submit" class="postponeTaskLink" value="Отложить"/>
                        </div>
                    </div>
                }
                @Html.HiddenFor(m => m.Task.InfoUrl)
                @Html.Hidden("returnUrl", Url.Action("Single","Simple"))
                @Html.HiddenFor(m => m.Task.TaskId)
                <div>
                    <div class="taskDescription">@Html.Raw(Model.Task.Description)</div>

                </div>
                    
                <div class="accordion">
                    @Html.EditorForCollection(m => m.Task.Outcomes)
                </div>
            }
            <input type="hidden" id="reloadButton" class="submitButton" data-href="@Url.Action("Task", "Simple")" value="Перезагрузить"/>
        </div>
    }
}
<div style="display:none;">
    @Html.Partial("Dialogs/PostponeTask")
</div>
<script>

    document.domain = '@System.Web.Compilation.AppSettingsExpressionBuilder.GetAppSetting("CallcenterDomain")';
    function openCallCenter(basket, itemId, preLoad) {
        if (itemId) {
            itemId = 'item_id=' + itemId + '&';
        } else {
            itemId = '';
        }

        var iframe = $('<iframe src="@(System.Web.Compilation.AppSettingsExpressionBuilder.GetAppSetting("IframeSrcURL"))?' + itemId + basket + '"></iframe>');
        iframe.css('min-height', $(window).height() - 400).css('height', $(window).height() - 250).css('width', $(window).width() - 100).css('border', 'none');
        $('#callcenterDiv').html(iframe);

        if (preLoad)
            return;

        $('#callcenterDiv').dialog({
            heigth: 'auto',
            width: 'auto',
            resizable: false,
            draggable: false,
            autoOpen: true,
            modal: true,
            buttons: []
        });
    }

    function closeCallCenter()
    {
        $('#callcenterDiv').dialog('close');
    }
</script>
<div id="callcenterDiv" style="display: none; padding: 0; margin: 0;"></div>
