﻿@model IEnumerable<TicketTool.Web.Models.Items.UserItem>

@Html.DevExpress().GridView(
    settings => {
        settings.Name = "usersGridView";
        settings.CallbackRouteValues = new { Controller = "Users", Action = "UsersGrid" };
        settings.KeyFieldName = "ID";
        settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.ShowGroupPanel = true;
        settings.SettingsBehavior.AutoFilterRowInputDelay = 1000 * 60 * 60;
        settings.Settings.ShowFooter = true;
        settings.Settings.UseFixedTableLayout = true;
        settings.ClientSideEvents.EndCallback = "usersGridViewCallback";
        settings.Columns.Add(c =>
        {
            c.FieldName = "IsLocked";
            c.Caption = "Заблокирован";
            c.ColumnType = MVCxGridViewColumnType.CheckBox;
            c.ReadOnly = true;
        });
        settings.Columns.Add("Name", "Имя");
        settings.Columns.Add("RolesString", "Роль");
        settings.Columns.Add("StoresString", "Магазин");
        settings.Columns.Add("Email", "Эл. Почта");
        settings.Columns.Add("CreatedDateFormatted", "Дата создания");
        settings.Columns.Add("LastLoginDateFormatted", "Дата послед. логин");
        settings.Columns.Add(column =>
        {
            column.Settings.AllowAutoFilter = DefaultBoolean.False;
            column.Caption = " ";
            column.FieldName = "Name";
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write("<a data-userName='" + c.Text + "' class='userEditLink'>редактировать</a>");
                //ViewContext.Writer.Write("<input type='hidden' value='" + c.Text + "' />");
            });
            column.Width = 110;
        });
    }).Bind(Model).GetHtml()