﻿<div id="loginUserDialog" title="Login user">
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-horizontal", @style = "padding:10px 0px;"}))
{
    <fieldset>
        <div class="control-group">
            @Html.Label("Логин", new {@class = "control-label"})  
            <div class="controls">
                <input type="text" name="name" id="name"/>
            </div>
        </div>
        <div class="control-group">
            @Html.Label("Пароль", new {@class = "control-label"})  
            <div class="controls">
                <input type="password" name="password" id="password" value="" />
            </div>
        </div>
    </fieldset>
}
</div>
