﻿@model IEnumerable<TicketTool.Web.Models.Items.SkillSetItem>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Выбран</th>
            <th>Имя</th>
            <th>Параметр</th>
            <th>Задачи почтой</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var elem in Model)
    {
        <tr>
            <td style="text-align: center;"><input type="radio" name=@(elem.IsEscalated ? "escSkillRadio" : "baseSkillRadio") @(elem.IsChecked ? "checked" : "") value = "@elem.Name" /></td>
            <td class="skillRoles" style="display:none;">@elem.Roles</td>
            <td class="skillName">@elem.Name</td>
            <td>@elem.ParamType</td>
            <td style="text-align: center;"><input type="checkbox" @(elem.TasksDeliveredByEmail ? "checked" : "") disabled/></td>
            <td style="text-align: center;"><img data-name="@elem.Name" class="customLink skillDeleteLink" src="@Url.Content("~/Content/Images/not_passed.png")" /></td>
            <td style="text-align: center;"><img data-roles="@elem.RolesString" data-isEsc="@elem.IsEscalated" data-isMail="@elem.TasksDeliveredByEmail" data-param="@elem.ParamType" data-name="@elem.Name" class="customLink skillEditLink" src="@Url.Content("~/Content/Images/pencil.png")" /></td>
        </tr>
    }
    </tbody>
</table>