﻿@using TicketTool.Web.Models
@model TicketTool.Web.Models.Items.SkillSetItem
<form class="form-horizontal">
    <fieldset>
        @Html.Hidden("oldSkillName", Model.Name)
        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class="control-label" })  
            <div class="controls">
                @Html.TextBoxFor(model => model.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ParamType, new { @class="control-label" })  
            <div class="controls">
                @Html.DropDownList("ParamType", Model.ParamTypeList)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="IsEscalated">Свойства</label>
            <div class="controls">
                <label class="checkbox inline">
                    @Html.CheckBoxFor(m => m.IsEscalated)@Html.LabelFor(model => model.IsEscalated)  
                </label>
            </div>
            <div class="controls">
                <label class="checkbox inline">
                    @Html.CheckBoxFor(m => m.TasksDeliveredByEmail)@Html.LabelFor(model => model.TasksDeliveredByEmail)  
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="IsEscalated">Доступен для</label>
            <div class="controls" style="max-height:250px; overflow:auto;">
                @Html.HiddenFor(m => m.RolesString)
                @Html.Partial("TaskTypesControls/RolesGrid", TaskTypesData.Roles)
            </div>
        </div>
    </fieldset>
</form>