﻿<form>
    <fieldset>
        <div class="line">
            <span class="customLabel">Название</span>
            <input type="text" name="taskName" id="taskName" value="" />
        </div>
        <div class="line">
            <span class="customLabel">Время на скилсет</span>
            <input type="text" name="skillsetTime" id="skillsetTime" value="" />
        </div>
        <div class="line">
            <span class="customLabel">Время на агента</span>
            <input type="text" name="userTime" id="userTime" value="" />
        </div>
    </fieldset>
</form>