﻿@using System.Configuration
@using System.Web.Compilation
@{
    ViewBag.Title = "Мониторинг";
    Layout = "~/Views/Shared/_LayoutFullHeight.cshtml";
}
@section scripts
{
    @Scripts.Render("~/Scripts/kendoui/")
    @Scripts.Render("~/Scripts/OrderMonitoring")
    
}
@section styles
{
    @Styles.Render("~/Content/kendo/css")
}

<style>
    .ui-dialog {
        z-index: 100000 !important;
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }

</style>

<div id="callcenterDiv" class="none"></div>
<div id="orderEditWindow" class="none">    
    <iframe name="orderFrame" frameborder="0" id="orderFrame" class="k-content-frame" style="display: inline;"></iframe>
</div>
<div id="grid" class="grid-wrapper" style="float: left; width: 99.85%;">
    
</div>
      
<script type="text/x-kendo-template" id="toolbarTemplate">
                <div class="toolbar">                    
                    <button type="button" id="refreshBtn" class="k-button">Обновить</button>
                    <button type="button" id="resetFiltersBtn" class="k-button" >Сбросить фильтры</button>
                    <button type="button" id="exportToExcelBtn" class="k-button" >Экспорт</button>
                </div>
</script>

<script type="text/x-kendo-template" id="template">
        <div>
            <button type="button" class="refreshOrderBtn" data-role="button" data-sprite-css-class="k-icon k-i-refresh" data-states>Обновить</button>
            <button type="button" class="cancelOrderBtn k-button" data-states>Отменить заказ</button>                                 
            <button type="button" class="editOrderBtn" data-role="button" data-sprite-css-class="k-icon k-edit" data-states>Редактировать</button>
            <button type="button" class="confirmOrderBtn k-button" data-states="новый,уточняется,уточнен">Подтвердить</button>
            <button type="button" class="copyOrderBtn k-button" data-states>Сделать копию</button>
            <span style="width: 100px">
                <button type="button" class="stopOrderBtn k-button" data-states>Остановить обработку заказа в ТТ</button>
            </span>
            <button type="button" class="changeStateBtn k-button" style="visibility:hidden" data-states="tt-hidden">Отмена КЦ</button>   
            <div class="tabstrip">
            <ul>                
                <li  class="k-state-active">
                   История статусов
                </li>
                <li >
                   Задачи
                </li>
                <li >
                   Строки заказа
                </li>                                
                <li>
                    Копии заказа
                </li>
                <li>
                    Рабочий процесс
                </li>
            </ul>
            <div>
                <div class="history"></div>
            </div>            
            <div>
                <div class="tasks"></div>
            </div>
            <div>
                <div class="orders"></div>
            </div>  
            <div>
                <div class="copies"></div>
            </div>       
                <div>
                    <div class="workflow"></div>
                </div>       
          </div>
        </div>

    </script>
<script>

    document.domain = '@AppSettingsExpressionBuilder.GetAppSetting("CallcenterDomain")';

    function openCallCenter(basket, itemId, preLoad) {
        if (itemId) {
            itemId = 'item_id=' + itemId + '&';
        } else {
            itemId = '';
        }

        var iframe = $('<iframe src="@AppSettingsExpressionBuilder.GetAppSetting("IframeSrcURL")?' + itemId + basket + '"></iframe>');
        iframe.css('min-height', $(window).height() - 400).css('height', $(window).height() - 250).css('width', $(window).width() - 100).css('border', 'none');
        $('#callcenterDiv').html(iframe);

        if (preLoad)
            return;

        $('#callcenterDiv').dialog({
            heigth: 'auto',
            width: 'auto',
            resizable: false,
            draggable: false,
            autoOpen: true,
            modal: true,
            buttons: []
        });
    }

    function closeCallCenter() {
        $('#callcenterDiv').dialog('close');
    }
</script>

<script>
    var dateRegExp = /^\/Date\((.*?)\)\/$/;


    function toDate(value) {
        debugger;
        var date = dateRegExp.exec(value);
        return new Date(parseInt(date[1]));
    }

    var changeOrderStateDataSource = new Mms.OrderMonitoring.Data.ChangeOrderStateDataSource({
        transport: { read: { url: '@Url.Action("GetChangableOrderStates", "Catalogue", new { httproute = "" })' } }
    });

    var changeOrderStateReasonsDataSource = new Mms.OrderMonitoring.Data.ChangeOrderStateReasonsDataSource({
        transport: { read: { url: '@Url.Action("GetOrderChangeReasons", "Catalogue", new { httproute = "" })' } }
    });

    var cancelOrderReasonPriorToShipmentDataSource = new Mms.OrderMonitoring.Data.CancelOrderReasonPriorToShipmentDataSource({
        transport: { read: { url: '@Url.Action("GetCancelOrderReasonsPriorToShipment", "Catalogue", new {httproute = ""})' } }
    });

    var cancelOrderReasonAfterShipmentDataSource = new Mms.OrderMonitoring.Data.CancelOrderReasonAfterShipmentDataSource({
        transport: { read: { url: '@Url.Action("GetCancelOrderReasonsAfterShipment", "Catalogue", new {httproute = ""})' } }
    });

    var paymentTypesDataSource = new Mms.OrderMonitoring.Data.PaymentTypesDataSource({
        transport: { read: { url: '@Url.Action("GetPaymentTypes", "Catalogue", new {httproute = ""})' } }
    });

    var orderStatesDataSource = new Mms.OrderMonitoring.Data.OrderStatesDataSource({
        transport: { read: { url: '@Url.Action("GetOrderStates", "Catalogue", new {httproute = ""})' } }
    });

    var orderSourcesDataSource = new Mms.OrderMonitoring.Data.OrderSourcesDataSource({
        transport: { read: { url: '@Url.Action("GetOrderSources", "Catalogue", new {httproute = ""})' } }
    });

    var pickupTypesDataSource = new Mms.OrderMonitoring.Data.PickupTypesDataSource({
        transport: { read: { url: '@Url.Action("GetPickupTypes", "Catalogue", new {httproute = ""})' } }
    });

    var customerDataSource = new Mms.OrderMonitoring.Data.CustomerOrdersDataSource({
        transport: { read: { url: '@Url.Action("Orders", "OrderMonitoring")' } }
    });

    var orderEditor = new Mms.OrderMonitoring.CustomerOrderEdit({
        CanBeEditedUrl: '@(@Url.Action("CanBeEdited","OrderMonitoring"))',
        EditOrderUrl: '@(ConfigurationManager.AppSettings["EditOrderUrl"])',
        $Container: $('#example')
    });

    var orderEditor = new Mms.OrderMonitoring.CustomerOrderEdit({
        CanBeEditedUrl: '@(@Url.Action("CanBeEdited","OrderMonitoring"))',
        EditOrderUrl: '@(ConfigurationManager.AppSettings["EditOrderUrl"])',
        $Container: $('#example')
    });

    var orderEditCopy = new Mms.OrderMonitoring.CustomerOrderEdit({
        EditOrderUrl: '@(ConfigurationManager.AppSettings["CopyOrderUrl"])',
        EditWindowName: 'Копирование заказа №',
        $Container: $('#example')
    });

    var orderCancel = new Mms.OrderMonitoring.CustomerOrderCancel({
        CancelOrderUrl: '@Url.Action("CancelOrder", "OrderMonitoring")',
        $Container: $('#example'),
        CancelOrderReasonPriorToShipmentDataSource: cancelOrderReasonPriorToShipmentDataSource,
        CancelOrderReasonAfterShipmentDataSource: cancelOrderReasonAfterShipmentDataSource,
    });

    var orderConfirm = new Mms.OrderMonitoring.CustomerOrderConfirm({
        ConfirmOrderUrl: '@Url.Action("ConfirmOrder", "OrderMonitoring")',
        $Container: $('#example')
    });

    var orderStop = new Mms.OrderMonitoring.CustomerOrderStop({
        StopOrderUrl: '@Url.Action("StopOrder", "OrderMonitoring")',
        $Container: $('#example')
    });

    var orderChangeState = new Mms.OrderMonitoring.CustomerOrderChangeState({
        ChangeOrderUrl: '@Url.Action("ChangeState", "OrderMonitoring")',
        $Container: $('#example'),
        ChangeOrderStateDataSource: changeOrderStateDataSource,
        ChangeOrderStateReasonsDataSource: changeOrderStateReasonsDataSource
    });

    var orderCopy = new Mms.OrderMonitoring.CustomerOrderCopy({
        OrderEditCopy: orderEditCopy,
        CancelOrderUrl: '@Url.Action("CancelOrder", "OrderMonitoring")',
        $Container: $('#example'),
        CancelOrderReasonPriorToShipmentDataSource: cancelOrderReasonPriorToShipmentDataSource,
        CancelOrderReasonAfterShipmentDataSource: cancelOrderReasonAfterShipmentDataSource,
    });

    var orderLinesDataSourceFactory = new Mms.OrderMonitoring.Data.OrderLinesDataSourceFactory(
    { readUrl: '@Url.Action("OrderLines", "OrderMonitoring")' });

    var orderStatusHistoryDataSourceFactory = new Mms.OrderMonitoring.Data.OrderStatusHistoryDataSourceFactory(
    { readUrl: '@Url.Action("OrderStatusHistory", "OrderMonitoring")' });

    var orderTasksDataSourceFactory = new Mms.OrderMonitoring.Data.OrderTasksDataSourceFactory({
        readUrl: '@Url.Action("OrderTasks", "OrderMonitoring")'
    });

    var orderCopiesDataSourceFactory = new Mms.OrderMonitoring.Data.OrderCopiesDataSourceFactory(
    { readUrl: '@Url.Action("OrderCopies", "OrderMonitoring")' });

    var orderWorkflowDataSourceFactory = new Mms.OrderMonitoring.Data.OrderWorkflowDataSourceFactory(
    { readUrl: '@Url.Action("OrderWorkflow", "OrderMonitoring")' });

    var app = new Mms.OrderMonitoring.App({
        $Container: $('#grid'),
        ExportToExcelUrl: '@Url.Action("ExportOrdersToExcel", "OrderMonitoring")',
        GetOrderByIdUrl: '@Url.Action("Get", "OrderMonitoring")',
        GetLasOrderTaskByIdUrl: '@Url.Action("LastOrderTask", "OrderMonitoring")',
        CustomerOrdersDataSource: customerDataSource,
        DetailTemplate: kendo.template($("#template").html()),
        ToolbarTemplate: kendo.template($("#toolbarTemplate").html()),
        OrderEditor: orderEditor,
        OrderCancel: orderCancel,
        OrderConfirm: orderConfirm,
        OrderStop: orderStop,
        OrderCopy: orderCopy,
        OrderChangeState: orderChangeState,
        OrderStatesDataSource: orderStatesDataSource,
        OrderSourcesDataSource: orderSourcesDataSource,
        PickupTypesDataSource: pickupTypesDataSource,
        PaymentTypesDataSource: paymentTypesDataSource,
        ChangeOrderStateDataSource: changeOrderStateDataSource,
        ChangeOrderStateReasonsDataSource: changeOrderStateReasonsDataSource,
        OrderLinesFactory: new Mms.OrderMonitoring.OrderLinesFactory({ DataSourceFactory: orderLinesDataSourceFactory }),
        OrderStatusHistoryFactory: new Mms.OrderMonitoring.OrderStatusHistoryFactory({ DataSourceFactory: orderStatusHistoryDataSourceFactory }),
        OrderTasksFactory: new Mms.OrderMonitoring.OrderTasksFactory({ DataSourceFactory: orderTasksDataSourceFactory }),
        OrderCopiesFactory: new Mms.OrderMonitoring.OrderCopiesFactory({ DataSourceFactory: orderCopiesDataSourceFactory }),
        OrderWorkflowFactory: new Mms.OrderMonitoring.OrderWorkflowFactory({ DataSourceFactory: orderWorkflowDataSourceFactory }),
    });

    app.Render();

</script>