﻿@model TicketTool.Projects.Data.Model.ArticleLine
@{
    int index;
    int.TryParse(ViewData["index"].ToString(), out index);
}
<tr>
    <td>
        <div style="float:left;">@(index + 1)</div>
    </td>
    <td>@Html.DisplayFor(m => m.ArticleNum)</td>
    <td>@Html.DisplayFor(m=> m.Description)</td>
    <td>
        <span style="float:left; margin: 0px 10px;">@Model.Qty</span>
    </td>
    <td>@String.Format("{0:0.00}", Model.Price) руб.</td>
    <td>
    </td>
</tr>
@if (Model.Comments.Count > 0)
{
    <tr>
        <td colspan="7">                
            <div class="control-group display">
                @Html.LabelFor(m => m.Comment, new {@class = "control-label"})
                <div class="controls">
                    <div class="expandableComment">
                        <div class="expandableIcon ui-icon ui-icon-triangle-1-s"> </div>
                        @foreach (var c in Model.Comments)
                        {
                            <p>
                            <b>@c.CreatedBy (@c.Created.ToShortDateString()):</b>
                            <br/>
                            @c.Text
                            </p>
                        }
                    </div>
                </div>
            </div>
                
        </td>
    </tr>
}