﻿
@model TicketTool.Projects.Data.Model.Customer
<h4>Заказчик</h4>
<div class="control-group display">
    @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.Surname)
    </div>
</div> 
<div class="control-group display">
    @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.FirstName)
    </div>
</div> 
<div class="control-group display">
    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.Email)
    </div>
</div>
<div class="control-group display">
    @Html.LabelFor(m => m.MainPhone, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.MainPhone, new { @class = "keyfilter-phone" })
    </div>
</div>
<div class="control-group display">
    @Html.LabelFor(m => m.OptionalPhones, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.OptionalPhones)
    </div>
</div>