﻿@model TicketTool.Projects.Data.Model.PickupInfo
<h4>Способ получения</h4>

@Html.HiddenFor(m => m.SapCode)
@Html.HiddenFor(m => m.PickupType)
@Html.HiddenFor(m => m.City)
@Html.HiddenFor(m => m.Address)
@if (Model.HasDelivery)
{
    <div class="control-group display">
        @Html.LabelFor(m => m.PickupType)
        <div class="controls">
            @Html.DisplayFor(m => m.PickupType)
        </div>
    </div>

    <div class="control-group display deliveryPlace">
        @Html.LabelFor(m => m.Address)
        <div class="controls">
            @Html.DisplayFor(m => m.Address)
        </div>
    </div>
    <div class="control-group display deliveryPlace">
        @Html.LabelFor(m => m.DeliveryDate)
        <div class="controls">
            @Html.DisplayFor(m => m.DeliveryDate, new {@Value = Model.DeliveryDate.ToString("dd.MM.yyyy"), @class = "input-small datepicker"})
        </div>
    </div>
    <div class="control-group display deliveryPlace">
        @Html.LabelFor(m => m.City)
        <div class="controls">
            @Html.DisplayFor(m => m.City)
        </div>
    </div>
}
else
{
    <div class="control-group display storePlace">
        <div class="control-label">
            @Html.LabelFor(m=>m.SapCode)
        </div>
        <div class="controls">
            @Html.DisplayFor(m => m.SapCode)
        </div>
    </div>
}