﻿@model TicketTool.Projects.Data.Model.ArticleLine
@{
    int index;
    int.TryParse(ViewData["index"].ToString(), out index);
}
<tr>
    <td>
        <div style="float:left;">@(index + 1)</div>
    </td>
    <td>@Html.DisplayFor(m => m.ArticleNum)</td>
    <td>@Html.DisplayFor(m=> m.Description)</td>
    <td>
        <span style="float:left; margin: 0px 10px;">@Model.Qty</span>
    </td>
    <td>@String.Format("{0:0.00}", Model.Price) руб.</td>
    <td>
    </td>
</tr>