﻿
@model IEnumerable<TicketTool.Web.Models.Items.UserLogItem>
@foreach (var item in Model)
{
<div>
    <table>
            <tr>
                <td style="width:200px; font-weight:bold;">@item.UserName</td>
                <td style="width:200px;">активен на скилсетах: @item.SkillSetQty</td>
                <td style="width:200px;">обработано: @item.ProcessedQty</td>
            </tr>
    </table>
    @Html.Partial("StatisticsControls/UserLogGridView", item.Lines.Where(m => !m.IsHeader))
</div>
}