﻿@using TicketTool.Projects.Avito.Models
@model BoardMessageItem
@{
    string type = ViewData["OpType"] != null ? ViewData["OpType"].ToString() : "Create";
    bool isEdit = type == "Edit";
    var user = HttpContext.Current.User;
    bool canEditUser = isEdit && (user.IsInRole("Admin") || user.IsInRole("Agent"));
    bool canEditOrder = user.IsInRole("Admin") || user.IsInRole("AvitoManager");
    bool showSubmit = false; 
    if(ViewData["ShowSubmit"] != null)
    {
        bool.TryParse(ViewData["ShowSubmit"].ToString(), out showSubmit);
    }
}
@using (Html.BeginForm(type, "BoardMessage", FormMethod.Post, new { @class = "form-horizontal", @style = "padding:10px 0px;" }))
{
    @Html.HiddenFor(m => m.OrderId)
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(model => model.SapCode, new { @class = "control-label" })  
            <div class="controls">
                @if(!isEdit)
                {
                    @Html.DropDownListFor(m => m.SapCode, Model.AvailableStores.Select(m => new SelectListItem { Value = m.SapCode, Text = m.SapCode + @" - " + m.Name }))
                }
                else
                {
                    @Html.TextBox("SapCodeCombined", Model.SapCode + " - " + Model.StoreName, new { @readonly="readonly" }) 
                    @Html.HiddenFor(m => m.SapCode) 
                }
                @Html.ValidationMessageFor(model => model.SapCode)
            </div>
        </div>
        <div class="control-group" style="margin-bottom:0;">
            <div class="controls">
                <h3>Заказ</h3>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ExternalNumber, new { @class = "control-label" })  
            <div class="controls">
                @Html.TextBoxFor(model => model.ExternalNumber, isEdit ? new { @readonly="readonly" } : null)
                @Html.ValidationMessageFor(model => model.ExternalNumber)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ExpirationDate, new { @class = "control-label" })  
            <div class="controls">
                @{
                    var htmlParams = new Dictionary<string, object>
                    {
                        {"Value", Model.ExpirationDate.ToString("dd.MM.yyyy") },
                        {"class", "datepicker input-medium" }
                    };
                    if(isEdit && !canEditOrder) 
                    {
                        htmlParams.Add("readonly","readonly");
                    }
                }
                @Html.TextBoxFor(model => model.ExpirationDate, htmlParams)
                @Html.ValidationMessageFor(model => model.ExpirationDate)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ArticleNum, new { @class = "control-label" })  
            <div class="controls">
                @Html.TextBoxFor(model => model.ArticleNum, isEdit ? new { @readonly="readonly" } : null)
                @Html.ValidationMessageFor(model => model.ArticleNum)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ArticleQty, new { @class = "control-label" })  
            <div class="controls">
                @Html.TextBoxFor(model => model.ArticleQty, isEdit && !canEditOrder ? new { @readonly="readonly" } : null)
                @Html.ValidationMessageFor(model => model.ArticleQty)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ArticlePrice, new { @class = "control-label" })  
            <div class="controls">
                @Html.EditorFor(model => model.ArticlePrice, isEdit && !canEditOrder ? new { @readonly="readonly" } : null)
                @Html.ValidationMessageFor(model => model.ArticlePrice)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label" })  
            <div class="controls">
                @Html.TextAreaFor(model => model.Comment, isEdit && !canEditOrder ? new { @readonly="readonly" } : null)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>
        <div class="control-group" style="margin-bottom:0;">
            <div class="controls">
                <h3>Покупатель</h3>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Surname, new { @class = "control-label" })  
            <div class="controls">
                @Html.TextBoxFor(model => model.Surname, !canEditUser ? new { @readonly="readonly" } : null)
                @Html.ValidationMessageFor(model => model.Surname)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })  
            <div class="controls">
                @Html.TextBoxFor(model => model.Name, !canEditUser ? new { @readonly="readonly" } : null)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label" })  
            <div class="controls">
                @Html.TextBoxFor(model => model.Phone, !canEditUser ? new { @readonly="readonly" } : null)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })  
            <div class="controls">
                @Html.TextBoxFor(model => model.Email, !canEditUser ? new { @readonly="readonly" } : null)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
    </fieldset>
    if(showSubmit)
    {
        <input type="submit" value="Сохранить"/>
    }
}