﻿@{
    var user = HttpContext.Current.User;
}
@Html.DevExpress().GridView(
    settings => {
        settings.Name = "boardMessageGridView";
        settings.CallbackRouteValues = new { Controller = "BoardMessageGrid", Action = "BoardMessageXGrid" };
        settings.KeyFieldName = "ID";
        settings.Settings.ShowFilterRow = true;
        settings.CustomBindingRouteValuesCollection.Add(
            GridViewOperationType.Paging,
            new { Controller = "BoardMessageGrid", Action = "BoardMessageXGridPaging" }
        );
        settings.CustomBindingRouteValuesCollection.Add(
            GridViewOperationType.Filtering,
            new { Controller = "BoardMessageGrid", Action = "BoardMessageXGridFiltering" }
        );
        settings.CustomBindingRouteValuesCollection.Add(
            GridViewOperationType.Sorting,
            new { Controller = "BoardMessageGrid", Action = "BoardMessageXGridSorting" }
        );
        settings.Settings.UseFixedTableLayout = false;
        settings.ClientSideEvents.Init = "gridInit";
        settings.ClientSideEvents.EndCallback = "gridEndCallback";
        settings.ClientSideEvents.BeginCallback = "gridBeginCallback";

        settings.Columns.Add(column => {
            column.FieldName = "ExternalNumber";
            column.Caption = "Номер объявления";
                                           column.SetDataItemTemplateContent(c =>
                                           {
                                               var canceled = DataBinder.Eval(c.DataItem, "IsCanceled");
                                               var orderId = DataBinder.Eval(c.DataItem, "OrderId");
                                               ViewContext.Writer.Write("<div class='messageName'><a class='javascriptLink customLink showBoardMessageLink' data-isCanceled='" + canceled + "' href='" + Url.Action("Details", "BoardMessage", new {orderId = orderId}) + "' data-orderId='" + orderId + "'>" + DataBinder.Eval(c.DataItem, "ExternalNumber") + "</a></div>");
                                           });
        });
        settings.Columns.Add("SapCode", "Номер магазина");
        settings.Columns.Add("StoreName", "Название магазина");
        settings.Columns.Add("OrderId", "Номер заказа");
        settings.Columns.Add("WWSOrderId", "Номер резерва WWS");
        //settings.Columns.Add(column =>
        //{
        //    column.FieldName = "RoutableCreateDate";
        //    column.Caption = "Дата создания";
        //    column.Settings.AllowAutoFilter = DefaultBoolean.False;
        //    column.SetDataItemTemplateContent(c =>
        //    {
        //        object expDate = DataBinder.Eval(c.DataItem, "RoutableCreateDate");
        //        ViewContext.Writer.Write(String.Format("{0:dd.MM.yyyy}", expDate));
        //    });
        //});
        settings.Columns.Add(column => {
            column.FieldName = "OrderStatus";
            column.Caption = "Статус объявления";
            column.Settings.AllowAutoFilter = DefaultBoolean.False;
            column.SetDataItemTemplateContent(c =>
            {
                object status = DataBinder.Eval(c.DataItem, "StatusInfo");
                ViewContext.Writer.Write(status);
            });
        });

        var editColumn = settings.Columns.Add("EditLink", " ");
        editColumn.Settings.AllowAutoFilter = DefaultBoolean.False;
        editColumn.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write(c.Text);
        });
        if (user.IsInRole("Admin") || user.IsInRole("AvitoManager"))
        {
            var cancelColumn = settings.Columns.Add("CancelLink", " ");
            cancelColumn.Settings.AllowAutoFilter = DefaultBoolean.False;
            cancelColumn.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write(c.Text);
            }); 
        }
    }).BindToCustomData(Model).GetHtml()