﻿@using TicketTool.Projects.Avito.Models
@model BoardMessageItem
<div class="form-horizontal">
    <div class="control-group display" style="margin-bottom:0px;">
        <div class="controls">
            <h3>Заказ</h3>
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.SapCode, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.SapCode)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.StoreName, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.StoreName)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.StatusInfo, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.StatusInfo)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.ExternalNumber, new { @class = "control-label" })  
        <div class="controls wordBreak">
            @Html.DisplayFor(model => model.ExternalNumber)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.OrderId, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.OrderId)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.WWSOrderId, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.WWSOrderId)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.ExpirationDate, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.ExpirationDate)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.ArticleTitle, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.ArticleTitle)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.ArticleNum, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.ArticleNum)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.ArticleQty, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.ArticleQty)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.ArticlePrice, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.ArticlePrice)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.Comment, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.Comment)
        </div>
    </div>
    <div class="control-group display" style="margin-bottom:0px;">
        <div class="controls">
            <h3>Покупатель</h3>
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.Surname, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.Surname)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.Phone, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>
    <div class="control-group display bordered">
        @Html.LabelFor(model => model.Email, new { @class = "control-label" })  
        <div class="controls">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
</div>