﻿<header>            
    <div class="content-wrapper">                
        <div class="float-left">
            
        </div>
        <div class="float-right">
            <section id="login" style="margin-top: 2px">
                @Html.Partial("_LoginPartial")
            </section>            
        </div>
    </div>
</header>