﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Ticket Tool Monitoring</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/Scripts/jquery")
        @RenderSection("styles", false)
        @RenderSection("scripts", false)
        <script>
            $(document).ready(function() {
                $('#header-menu').kendoMenu();
            })
        </script>
    </head>
    <style>
        html, body {
            border-top: solid 0px;
            height: 100%;
            margin: 0;
            overflow: hidden;
            padding: 0;
        }



        #body { height: 100%; }

        #grid { height: 100%; }

        .header-nav { padding: 2px; }

        #header-menu { border: none; }

        .content-wrapper {
            padding-left: 10px;
            padding-right: 10px;
            position: absolute;
            right: 0;
            z-index: 10;
        }

        .content-wrapper {
            margin: 0 auto;
            max-width: 960px;
            position: absolute;
            right: 0;
            z-index: 10;
        }
    </style>
    <body>
        @{
            Html.RenderPartial("_Header");
        }
        <div id="body">
            @RenderSection("featured", false)
            @*<div id="grid"></div>*@
            @*<section class="content-wrapper main-content clear-fix">*@
            @RenderBody()
        </div>
        @*<footer>
            @{

                Html.RenderPartial("_Footer");
            }
        </footer>     *@
    </body>
</html>