﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Ticket Tool Monitoring</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")        
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/Scripts/jquery")        
        @RenderSection("styles", false)
        @RenderSection("scripts", false)
    </head>
    <body>
        @{
            Html.RenderPartial("_Header");
        }
        <div id="body">
            @RenderSection("featured", false)
            @*<section class="content-wrapper main-content clear-fix">*@
            @RenderBody()
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Ticket Tool Monitoring</p>
                </div>
            </div>
        </footer>               
    </body>
</html>