﻿@if(Request.IsAuthenticated)
{
    <text>
        Здравствуй, @User.Identity.Name !
        @using(Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()
            <a class="k-button" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
        }
    </text>
}
else
{
    <ul>        
        <li>@Html.ActionLink("Войти", "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>
}