.alertify,
.alertify-show,
.alertify-log {
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.alertify-hide {
    -moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.alertify-log-hide {
    -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.alertify-cover {
    background-color: white;
    bottom: 0;
    filter: alpha(opacity=0);
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.alertify-cover-hidden { display: none; }

.alertify {
    left: 50%;
    margin-left: -275px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 550px;
    z-index: 99999;
}

.alertify-hidden {
    -moz-transform: translate(0, -150px);
    -ms-transform: translate(0, -150px);
    -o-transform: translate(0, -150px);
    -webkit-transform: translate(0, -150px);
    display: none;
    opacity: 0;
    transform: translate(0, -150px);
}

/* overwrite display: none; for everything except IE6-8 */

:root * > .alertify-hidden {
    display: block;
    visibility: hidden;
}

.alertify-logs {
    bottom: 10px;
    position: fixed;
    right: 10px;
    width: 300px;
    z-index: 5000;
}

.alertify-logs-hidden { display: none; }

.alertify-log {
    display: block;
    margin-top: 10px;
    opacity: 0;
    position: relative;
    right: -300px;
}

.alertify-log-show {
    opacity: 1;
    right: 0;
}

.alertify-log-hide {
    -moz-transform: translate(300px, 0);
    -ms-transform: translate(300px, 0);
    -o-transform: translate(300px, 0);
    -webkit-transform: translate(300px, 0);
    opacity: 0;
    transform: translate(300px, 0);
}

.alertify-dialog { padding: 25px; }

.alertify-resetFocus {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.alertify-inner { text-align: center; }

article.alertify-inner {
    float: none;
    width: auto;
}

.alertify-text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    margin-bottom: 15px;
    width: 100%;
}

.alertify-buttons { }

.alertify-button,
.alertify-button:hover,
.alertify-button:active,
.alertify-button:visited {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    /* line-height and font-size for input button */
    line-height: 1.5;
    margin-left: 5px;
    text-decoration: none;
}

@media only screen and (max-width: 680px) {
    .alertify,
    .alertify-logs {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 90%;
    }

    .alertify {
        left: 5%;
        margin: 0;
    }
}