﻿@model IEnumerable<string>
<table class="table table-striped table-bordered notHighlight rolesTable">
    <thead>
        <tr>
            <th style="width:20px;"> </th>
            <th>Имя</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var elem in Model)
    {
        <tr>
            <td style="text-align: center;">
                <label class="checkbox">
                    <input type="checkbox" value='@elem' />
                </label>
            </td>
            <td>@elem</td>
        </tr>
    }
    </tbody>
</table>