﻿@model IEnumerable<TicketTool.Web.Models.Items.TaskTypeItem>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Время на скилсет</th>
            <th>Время на агента</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var elem in Model)
    {
        <tr>
            <td class="baseSkillRelation" style="display:none">@(elem.SkillSet == null ? "" : elem.SkillSet.Name)</td>
            <td class="escSkillRelation" style="display:none">@(elem.EscalatedSkillSet == null ? "" :  elem.EscalatedSkillSet.Name)</td>
            <td class="taskName" >@elem.Name</td>
            <td>@elem.MaxSkillSetRunTime</td>
            <td>@elem.MaxUserSetTime</td>
            <td style="text-align: center;"><img data-taskName="@elem.Name" data-skillsetTime="@elem.MaxSkillSetRunTime" data-userTime="@elem.MaxUserSetTime" class="customLink taskEditLink" src ="@Url.Content("~/Content/Images/pencil.png")" /></td>
        </tr>
    }
    </tbody>
</table>