﻿@using DevExpress.Office.Utils
@model TicketTool.Web.Models.SimpleData
@{
    Layout = "~/Views/Shared/_simpleLayout.cshtml";
    var user = HttpContext.Current.User;
}
<script type="text/javascript">
    $(document).ready(function() {
        $('.checkbox-selector').change(
            function() {
                if ($(this).data('cluster') && this.checked) {
                    $('#clusters').removeClass('hide');
                } else {
                    var clusterCheckboxes = $(".checkbox-selector");
                    var shoudHide = true;
                    $(clusterCheckboxes).each(
                        function() {
                            if ($(this).data('cluster') && this.checked) {
                                shoudHide = false;
                            }
                        });
                    if (shoudHide) {
                        $('#clusters').addClass('hide');
                    }
                }
            });
    });
</script>

@using (Html.BeginForm("LoginSkillSets", "Simple", FormMethod.Post))
{
    @Html.Hidden("returnUrl", Url.Action("Index","Simple"))
    if (user != null && user.Identity.IsAuthenticated)
    {
        for(int i = 0; i < Model.UserSkillSet.Count; i++)
        {
            <div class="controls">
                <label class="checkbox inline">
                    @Html.HiddenFor(m => Model.UserSkillSet[i].Name)
                    @Html.CheckBoxFor(m => Model.UserSkillSet[i].IsChecked,
                        new Dictionary<string, object>
                        {
                            {"class","checkbox-selector"},
                            {"data-cluster",Json.Encode(Model.UserSkillSet[i].IsClustered)}
                        })<span>@Model.UserSkillSet[i].Name</span>
                    @if (Model.UserSkillSet[i].IsClustered)
                    {
                        <i class="icon-home"></i>
                    }
                </label>
            </div>
        }

        <div class="top15"></div>
        
        <div id="clusters" class="hide">
            <span>Выбранные кластеры</span>
            @for (int i = 0; i < Model.Clusters.Count; i++)
            {
                <div class="controls">
                    <label class="checkbox inline">
                        @Html.HiddenFor(m => Model.Clusters[i].Name)
                        @Html.CheckBoxFor(m => Model.Clusters[i].IsSelected)<span>@Model.Clusters[i].Name</span>
                    </label>
                </div>
            }
        </div>

        <hr />
        <input type="submit" value="Вход"/>
    }
}