﻿@using ZZTIntegration.Web.Common
@{
    ViewBag.Title = "Index";
}
@model ZZTIntegration.Web.Models.OrderItem
<div style="min-width:450px;">
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal mainForm" }))
{
    <fieldset>
        @if(!String.IsNullOrEmpty(Model.OrderId))
        {
            <h4>Заказ</h4>        
            <div class="control-group display">
                @Html.LabelFor(m => m.OrderId, new { @class = "control-label" })
                <div class="controls">
                        @Html.DisplayFor(m => m.OrderId)
                </div>
            </div>
            if(!String.IsNullOrEmpty(Model.WWSOrderId))
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.WWSOrderId, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DisplayFor(m => m.WWSOrderId)
                    </div>
                </div>
            }
        }
        <h4>Корзина</h4>
        @if (!Model.HasArticles)
        {
            <p class="errorText">Пожалуйста, добавьте хотя бы один артикул</p>
        }       
        else
        {
            if (!Model.IsApproved && String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <p class="errorText">В артикульный состав заказа были внесены изменения. Пожалуйста, перепроверьте артикульные данные.</p>
            }
            else if (Model.IsApproved && !String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <p class="errorText">Ошибка: @Model.ErrorMessage</p>
            }
            if (Model.AllArticles.Any(m => m.IsWrong || m.IsDataWrong))
            {
                <p class="errorText">Пожалуйста, проверьте проблемные позиции</p>
                if(Model.ErrorType == ErrorObject.Article)
                {
                    <p class="errorText">@Model.ErrorMessage</p>
                }
            }
            if (Model.ErrorType != ErrorObject.Article && !String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <p class="errorText">Ошибка: @Model.ErrorMessage</p>
            }    
        }
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Позиция</td>
                    <td>Артикул</td>
                    <td>Наименование</td>
                    <td>Количество</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForCollection(m => m.BasketArticles)
                <tr>
                    <td colspan="3"></td>
                    <td style="font-weight: bold;">Итого</td>
                    <td style="font-weight: bold;">@Html.DisplayFor(m => m.TotalPrice) руб.</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        @Html.DisplayFor(m => m.DeliveryInfo)
        @Html.DisplayFor(m => m.Customer)
        @if(Model.DeliveryInfo.DeliveryType == "2")
        {
            @Html.DisplayFor(m => m.DeliveryAddress)
            @Html.DisplayFor(m => m.DeliveryPrice)
        }
    </fieldset>
}
</div>