﻿@using ZZTIntegration.Web.Common
@{
    ViewBag.Title = "Index";
}
@section scripts{
  <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/custom/pickupGeo.js")'></script>
}
@model ZZTIntegration.Web.Models.OrderItem
<div style="min-width:450px;">
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal mainForm" }))
{
    <fieldset>
        @Html.HiddenFor(m => m.IsApproved, new { Value = Model.IsApproved })
        @Html.HiddenFor(m => m.IsFixed, new { Value = Model.IsFixed })
        @Html.HiddenFor(m => m.ErrorMessage, new { Value = Model.ErrorMessage })
        @Html.HiddenFor(m => m.ExternalInterface, new { Value = Model.ExternalInterface })
        @Html.HiddenFor(m => m.CampaignId, new { Value = Model.CampaignId })
        @Html.HiddenFor(m => m.ConsumerId, new { Value = Model.ConsumerId })
        @Html.HiddenFor(m => m.OrderId, new { Value = Model.OrderId })
        @Html.HiddenFor(m => m.WWSOrderId, new { Value = Model.WWSOrderId})
        @Html.HiddenFor(m => m.DeliveryInfo.SelectedTypeName, new { Value = Model.DeliveryInfo.SelectedTypeName })
        @Html.HiddenFor(m => m.DeliveryInfo.SelectedTypeCode, new { Value = Model.DeliveryInfo.SelectedTypeCode })
        @Html.HiddenFor(m => m.DeliveryInfo.SelectedPlaceName, new { Value = Model.DeliveryInfo.SelectedPlaceName })
        @Html.HiddenFor(m => m.DeliveryInfo.SelectedPlaceCode, new { Value = Model.DeliveryInfo.SelectedPlaceCode })
        @if (!String.IsNullOrEmpty(Model.OrderId))
        {
            <h4>Заказ</h4>        
            <div class="control-group display">
                @Html.LabelFor(m => m.OrderId, new { @class = "control-label" })
                <div class="controls">
                    <div>@Model.OrderId</div>
                </div>
            </div>
            if (!String.IsNullOrEmpty(Model.WWSOrderId))
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.WWSOrderId, new { @class = "control-label" })
                    <div class="controls">
                        <div>@Model.WWSOrderId</div>
                    </div>
                </div>
            }
            if (!String.IsNullOrEmpty(Model.BoOrderId))
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.BoOrderId, new { @class = "control-label" })
                    <div class="controls">
                        <div>@Model.BoOrderId</div>
                    </div>
                </div>
            }
        }
@*                <div class="control-group display">
                    @Html.LabelFor(m => m.ConsumerId, new { @class = "control-label" })
                    <div class="controls">
                        <div>@Model.ConsumerId</div>
                    </div>
                </div>
                <div class="control-group display">
                    @Html.LabelFor(m => m.CampaignId, new { @class = "control-label" })
                    <div class="controls">
                        <div>@Model.CampaignId</div>
                    </div>
                </div>*@
        <h4>Корзина</h4>
        @if (!Model.HasArticles)
        {
            <p class="errorText">Пожалуйста, добавьте хотя бы один артикул</p>
        }
        else
        {
            if (!Model.IsApproved && String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <p class="errorText">В артикульный состав заказа были внесены изменения. Пожалуйста, перепроверьте артикульные данные.</p>
            }
            else if (Model.IsApproved && !String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <p class="errorText">Ошибка: @Model.ErrorMessage</p>
            }
            if (Model.AllArticles.Any(m => m.IsWrong || m.IsDataWrong))
            {
                <p class="errorText">Пожалуйста, проверьте проблемные позиции</p>
                if (Model.ErrorType == ErrorObject.Article)
                {
                    <p class="errorText">@Model.ErrorMessage</p>
                }
            }
            if (Model.ErrorType != ErrorObject.Article && !String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <p class="errorText">Ошибка: @Model.ErrorMessage</p>
            }
        }   
        @if (Model.IsApproved)
        {
            if (!String.IsNullOrEmpty(Model.DeliveryInfo.SelectedTypeName))
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.DeliveryInfo.SelectedTypeName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DisplayFor(m => m.DeliveryInfo.SelectedTypeName)
                    </div>
                </div>
            }
            if (!String.IsNullOrEmpty(Model.DeliveryInfo.SelectedPlaceName) && Model.DeliveryInfo.SelectedTypeName != "Доставка")
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.DeliveryInfo.SelectedPlaceName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DisplayFor(m => m.DeliveryInfo.SelectedPlaceName)
                    </div>
                </div>
            }
        }
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Позиция</td>
                    <td>Артикул</td>
@*                    <td>Статус</td>
                    <td>Комментарий менеджера</td>*@
                    <td>Наименование</td>
                    <td>Количество</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @Html.EditorForCollection(m => m.BasketArticles)
@*                @Html.EditorForCollection(m => m.DeliveryArticles)*@
                <tr>
                    <td colspan="3"></td>
                    <td style="font-weight: bold;">Итого</td>
                    <td style="font-weight: bold;">@Html.DisplayFor(m => m.TotalPrice) руб.</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        @if (Model.NewArticles.Count == 0)
        {
            <input data-href="@Url.Action("AddArticle", "Home")" class="submitButton" type="submit" value="Добавить артикул" style="margin-bottom: 10px;"/>
        }
        @Html.EditorForCollection(m => m.NewArticles)
        @Html.EditorFor(m => m.DeliveryInfo, new { isFixed = Model.IsFixed })
        @Html.EditorFor(m => m.Customer)
        @Html.EditorFor(m => m.DeliveryAddress)
        @Html.EditorFor(m => m.DeliveryPrice)
    </fieldset>
    <input data-href="@Url.Action("Index", "Home")" style="margin-top:20px;" class="submitButton" type="submit" value="Сохранить" />
}
</div>