﻿@model ZZTIntegration.Web.Models.ResultItem 
@if(String.IsNullOrEmpty(Model.BoOrderId))
{
    <script type="text/javascript">
        $(function () {
            $(".refreshButton").on("click", function(){
                var baseHref = $(this).attr('href');
                var finalHref = baseHref + "?orderId=" +
                    $('input[id$="OrderId"]').val() + "&externalInterface=" +
                    $('input[id$="IsExternalInterface"]').val() + "&boNumber=" +
                    $('input[id$="BoOrderId"]').val()
                $(this).attr('href', finalHref);
                window.location = finalHref;
            });
@*            $.ajax({
                url: $.routeLinks.GetBoNumber,
                data: { orderId : @Model.OrderId },
                    success: function(e){
                        console.log(e);
                        if(e !== undefined && e !== null && e !== ""){
                            $('input[id$="BoOrderId"]').val(e);
                            $(".refreshButton").click();
                        }
                    }
            });*@
            setInterval(function () {
                $.ajax({
                    url: $.routeLinks.GetBoNumber,
                    data: { orderId : "@Model.OrderId" },
                    success: function(e){
                        console.log(e);
                        if(e !== undefined && e !== null && e !== ""){
                            $('input[id$="BoOrderId"]').val(e);
                            $(".refreshButton").click();
                        }
                    }
                });
            }, 5000);
        
        });
    </script>
}
@Html.HiddenFor(m => m.OrderId)
@Html.HiddenFor(m => m.IsExternalInterface)
@Html.HiddenFor(m => m.BoOrderId)
<p>Заказ с номером @Model.OrderId был успешно создан!</p>
<a style="display:none;" class="refreshButton" href="@Url.Action("Result", "Home")"></a>
@if(String.IsNullOrEmpty(Model.BoOrderId))
{
    <div style="float:left; padding-right: 5px;">Номер заказа в BO: </div>
    <div style="float:left; width:20px;height:20px;"><img src=@Url.Content("~/Content/Images/ajax-loader.gif") /></div>
}
else
{
    <p>Номер заказа в BO: @Model.BoOrderId</p>
}