@{
    Layout = "~/Views/Shared/_baseLayout.Mobile.cshtml";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-migrate-1.1.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom/base.js")" type="text/javascript"></script>
    
    <script type="text/javascript">
        var approot = '@Request.ApplicationPath';
    </script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.10.3.full.min.css")" rel="stylesheet" type="text/css" />
    @RenderSection("scripts", false)

}
@RenderBody()