﻿@{
    var user = HttpContext.Current.User;
}
<div class="loginHeader">
    <span>Добро пожаловать, @user.Identity.Name&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="customLink" href=@Url.Action("Logout", "Account")>выйти</a></span>
</div>