﻿<!DOCTYPE html>
<html>
<head>
    <title>Задачи</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        var approot = '@Request.ApplicationPath';
    </script>
    <script src='@Url.Content("~/Scripts/picnet.table.filter.min.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/routeLinks.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/base.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/message.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/gridView.js")'></script>

    @Scripts.Render("~/bundles/dialogs")

    @Styles.Render("~/Content/css")
    @RenderSection("scripts", false)
</head>
<body>
    <div class="container-fluid wrapper">
        <div class="header">
            @{
                var user = HttpContext.Current.User;
            }
            @if (user == null || !user.Identity.IsAuthenticated)
            {
                <div style="text-align: right;">
                    <a class="javascriptLink customLink loginUserLink" href="@Url.Action("Login", "Account")"  style="padding: 5px;">войти</a>
                </div>
                <script type="text/javascript">
                    $(function() {
                        $("#loginUserDialog").data("returnUrl", $('[id$="returnUrl"]').val()).dialog("open");
                    });                    
                </script>
            }
            else
            {
                <div class="loginHeader">
                    <span>Добро пожаловать, @user.Identity.Name&nbsp;&nbsp;|&nbsp;&nbsp;<a class="customLink" href=@Url.Action("Logout", "Account")>выйти</a></span>
                </div>
            }
            <div style="display:none;">
                @Html.Partial("Dialogs/Authorize")
            </div>
        </div>  
        @RenderBody()
        <div class="push"></div>
    </div>
    @*<div class="footer">
        <div class="padding-wrapper">
            <p>&copy; @DateTime.Now.Year — MediaMarkt</p>
        </div>
    </div>*@
</body>
</html>