﻿@using TicketTool.Web.Models
@model TicketTool.Web.Models.Items.UserItem
<form class="form-horizontal">
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class="control-label" })  
            <div class="controls">
                @Html.TextBoxFor(model => model.Name, new { @class="customBigInput" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Password, new { @class="control-label" })  
            <div class="controls">
                @Html.PasswordFor(model => model.Password)
                @Html.PasswordFor(model => model.RepeatPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Email, new { @class="control-label" })  
            <div class="controls">
                @Html.TextBoxFor(model => model.Email, new { @class="customBigInput" })
            </div>
        </div> 
        <div class="control-group">
            @Html.LabelFor(model => model.IsLocked, new { @class = "control-label" })
            <div class="controls">
                @Html.CheckBoxFor(model => model.IsLocked, new { @class = "customBigInput" })
            </div>
        </div>
        <div style="float:left; margin-right: 20px;">
            <div>Роли</div>
            @Html.HiddenFor(m=>m.RolesString)
            <div style="width:250px; height:200px; overflow:auto;" class="rolesContainer">
                @Html.Partial("UsersControls/RolesGrid", UsersData.Roles)
            </div>
            @Html.HiddenFor(m=>m.AvailableSkillSetsString)
            <div style="margin-top:20px;">Доступные скиллсеты</div>
            <div style="max-width:250px; max-height:200px; overflow:auto;" class="skillSetsContainer">
            </div>
        </div>
        <div style="float:left;">
            <div>Магазины</div>
            @Html.HiddenFor(m=>m.StoresString)
            <div style="width:350px; height:200px; overflow:auto;" class="storesContainer">
            @Html.Partial("UsersControls/StoresGrid", UsersData.Stores)
            </div>
        </div>
    </fieldset>
</form>